{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1 class="mb-3">Sorry, this page does not exist.</h1>
        <a href="{{ url_for('main.home') }}"><button class="btn btn-success">Return Home</button></a>        
    </div>

{% endblock %}