{% extends "base.html" %}

{% block content %}
    <h1>An unexpected error has occurred</h1>
    <!-- <p>The administrator has been notified. Sorry for the inconvenience!</p> -->
    <p>If possible could you email me hayden.swanson@cern.ch , this error logger is a new feature and might have bugs of its own!</p>
    <p><a href="{{ url_for('main.home') }}">Home</a></p>
{% endblock %}