.shipment-form {
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.219); /* Shadow */
    padding: 10px;
}

.part-area {
    height: 25vh;
}

.location-area {
    /* width: 100%; */
    /* display: inline-block; */
    border-color: #2f6a69; /* Green border color */
    border-width: 3px; /* Border width */
    border-style: solid; /* Border style */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.219); /* Shadow */
}

.part {
    /* background-color: #316ed1; */
    background-color: #2f6a69;
    color: rgb(255, 255, 255);
    padding-right: 5px;
    border-radius: 5px;
    border-width: 1px;
    font-size: 13px;
    border-color: aliceblue;
}

.part-move-btn {
    border-color: #969696b0;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    font-size: 25px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.check-parts-active {
    background-color: rgb(136, 253, 136);
    color: black;
    border-color: rgb(40, 255, 40);
}
.check-parts-active:hover {
    background-color: rgb(136, 253, 136);
    color: black;
    border-color: rgb(40, 255, 40);
}

.check-parts-deactive {
    background-color: #ffb3a8;
    color: black;
    border-color: red;
}

.check-parts-deactive:hover {
    background-color: #ffb3a8;
    color: black;
    border-color: red;
}