.shipment-page {
    margin-left: 15px;
}

#table-settings-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #FFF8E7;
    padding: 5px;
    align-items: center;
}

.all-column-toggle-groups {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-grow: 1;
    flex-shrink: 1;
}
.column-toggle-group {
    padding: 4px;
}

.switch-label {
    font-size: 14px;
}
.form-switch .form-check-input {
    height: 15px;
    width: 40px;
}
.form-switch .form-check-input:focus {
    border-color: rgba(0, 0, 0, 0.25);
    outline: 0;
    box-shadow: 0 0 0 0 #2f6a69;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(0,0,0,0.25)'/></svg>");
}
.form-switch .form-check-input:checked {
    background-color: #2f6a69;
    border-color: rgba(0, 0, 0, 0.25);
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255, 248, 231, 1)'/></svg>");
}

.page-length-group {
    flex-shrink: 0;
    flex-grow: 0;
    height: 50%;
    width: 250px;
}

.btn-earth {
    width:min-content;
    font-size: 12px;
    padding-left: 8px !important;
    padding-right: 8px !important;
}

.gridjs-table tr:hover td{
    background-color: #D4EAFF; /*rgb(235, 255, 239);*/
}

/* MAKE SEARCH BAR WIDTH 100% */
.gridjs-head {
    display: flex;
    flex-direction: column;
}
.gridjs-search {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}
.gridjs-search-input {
    width: 100%;
}

table.gridjs-table {
    border: 3px solid #ccc;
}
table.gridjs-table th {
    background-color: rgba(0, 0, 0, 0.1);
    color: #FFF8E7;
    border-bottom: 3px solid #ccc;
}

table.gridjs-table td {
    text-align: start;
    padding-top: 0;
    padding-bottom:0;
    padding-left: 12px;
    padding-right: 3px;
}

.rounded-btn {
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 50%;  
    display: flex;       
    align-items: center; 
    justify-content: center;
    flex-grow: 0;
}

.popover-body {
    height: 700px;
    overflow-y: auto;
}

.popover{
    max-width: 100%; /* Max Width of the popover (depending on the container!) */
}