#number_modules{
    width: 10%;
}

.side-by-side {
    display: flex;
    flex-direction: row;
    gap: 20px;

    margin-top: 5px;
    margin-bottom: 5px;
    justify-content: start;
    align-content: center;
}

.side-by-side-shipment {
    display: flex;
    flex-direction: row;
    gap: 20px;

    margin-top: 5px;
    margin-bottom: 5px;
    justify-content: space-evenly;
    align-content: center;
}

#autogen-box {
    align-self: center;
    align-content: center;
}