
/* CREDIT TO DRAG AND DROP CODE: https://codepen.io/hugolpz/pen/RwagbKy?editors=1010 */
.file-upload {
    background-color: #FFF8E7;
    width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* BUTTON */
  .file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #2f6a69;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #2f6a69;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  .file-upload-btn:hover {
    background: #409291;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  .file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
  }
  
  /* PLACEHOLDER */
  .file-upload-preview {
    display: none;
    text-align: center;
  }
  .file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }
  .file-upload-placeholder {
    margin-top: 0px;
    border: 4px dashed #2f6a69;
    position: relative;
  }
  .image-dropping,
  .file-upload-placeholder:hover {
    background-color: #52b8b6;
    border: 4px dashed #fff;
  }
  .drag-text {
    text-align: center;
  }
  .drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #2f6a69;
    padding: 60px 0;
  }
  
  /* PREVIEW */
  .file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
  }
  /* REMOVE */
  .file-upload-remove {
    padding: 0 15px 15px 15px;
    color: #222;
  }
  
  .remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .remove-image:active {
    border: 0;
    transition: all .2s ease;
  }