{% extends "base.html" %}
{% block content %}

<!-- chatgpt thank you -->
{% set seconds = token_expiration_date %}
{% set weeks   = seconds // 604800 %}
{% set seconds = seconds % 604800 %}
{% set days    = seconds // 86400 %}
{% set seconds = seconds % 86400 %}
{% set hours   = seconds // 3600 %}
{% set seconds = seconds % 3600 %}
{% set minutes = seconds // 60 %}
{% set seconds = seconds % 60 %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header h4 text-center">
                    API Token
                </div>
                <div class="card-header lead text-center" style="font-size: medium;">
                    Expires in 
                    {% if weeks   > 0 %} {{ weeks }}   weeks   {% endif %}
                    {% if days    > 0 %} {{ days }}    days    {% endif %}
                    {% if hours   > 0 %} {{ hours }}   hours   {% endif %}
                    {% if minutes > 0 %} {{ minutes }} minutes {% endif %}
                    {% if seconds > 0 %} {{ seconds }} seconds {% endif %}                
                </div>
                <div class="card-body ">
                    <div class="input-group mb-3">
                        <div id="api-token" class="form-control card-text" style="font-family: monospace; background-color: #f8f9fa; padding: 5px; border-radius: 5px;">{{ token }}</div>
                        <button onclick="copyToClipboard(this)" class="btn btn-outline-secondary" type="button" id="button-addon2"><i class="bi bi-clipboard-fill"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .btn-transparent {
        background-color: transparent !important;
        border-color: transparent !important;
        cursor: default !important;
    }
</style>

<script>
function copyToClipboard(button) {
    var copyText = document.getElementById("api-token").innerText;
    navigator.clipboard.writeText(copyText).then(function() {
        //Swap token to checkmark that is green
        $(button).html('<i class="bi bi-check-circle-fill text-success"></i>');
        $(button).addClass('btn-transparent');

    }, function(err) {
        alert("Failed to copy text: ", err);
    });
}
</script>


{% endblock %}