<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if title %}
      <title>{{ title }} - ETL Construction</title>
    {% else %}
      <title>ETL Module Construction</title>
    {% endif %}
    <!-- for date and times -->
    {{ moment.include_moment() }}

    {{ bootstrap.load_css() }}

    <!-- to get google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap" rel="stylesheet">

    {#    Load jQuery #}
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    {#    Load Bootstrap 5 #}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    {#  Load grid.js w/ jQuery integration #}
    <!-- Cant just use gridjs w jquery integration because I couldnt figure out how to use force render with it -->
    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gridjs-jquery@4.0.0/dist/gridjs.production.min.js"></script>
    <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet"/>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link rel="stylesheet" type= "text/css" href="{{ url_for('main.static', filename='styles/base_styles.css') }}">

  </head>
  <body style="background-color: #FFF8E7;">


    {% macro dropdown(authenticated, dropdown_name, url_1, url_1_name, url_2, url_2_name, url_3=none, url_3_name=none) %}
      {% if authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{dropdown_name}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href={{url_1}}>{{url_1_name}}</a></li>
            {% if url_3 is not none and url_3_name is not none%}
            <li><a class="dropdown-item" href={{url_3}}>{{url_3_name}}</a></li>
            {% endif %}
            <div class="dropdown-divider"></div>
            <li><a class="dropdown-item" href={{url_2}}>{{url_2_name}}</a></li>
          </ul>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href={{url_2}} aria-expanded="false">
            {{dropdown_name}}
          </a>
        </li>
      {% endif %}
    {% endmacro %}

    {% macro render_lookup_table(items) %}
    <table class="table table-striped table-hover table-sm">
      <thead>
        <tr>
          <th scope="col">Long Name</th>
          <th scope="col">Abbv. Name</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        {% for item in items %}
          <tr>
            <td>{{ item.name_long }}</td>
            <td>{{ item.name_abbv }}</td>
            <td>{{ item.description }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endmacro %}


    {% macro render_table(base_page_constr_types) %}
    <table class="table table-striped table-hover table-sm">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Version</th>
          <th scope="col">Data Fields</th>
          <th scope="col">Description</th>
          <th scope="col">Full Example</th>
        </tr>
      </thead>
      <tbody>
        {% for json_schema in base_page_constr_types %}
          {% for ex in json_schema['examples'] %}
            {% set modal_prefix = ex['type'] | replace(' ', '') %}
            {% set modal_id = modal_prefix + "Modal" + loop.indx0 | string %}
            <tr>
              <td>{{ ex['type'] }}</td>
              <td>{{ ex['version'] }}</td>
              <td>{{ ex['data'].keys() | join(', ') }}</td>
              <td>{{ json_schema['description'] }}</td>
              <td class="align-middle"> 
                <button type="button" class="btn btn-earth" data-bs-toggle="modal" data-bs-target="#{{modal_id}}">
                  View
                </button>
                <div class="modal fade" id="{{modal_id}}" tabindex="-1" aria-labelledby="{{modal_id}}Label" aria-hidden="true" data-bs-backdrop="false">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="{{modal_id}}Label">{{ ex['type'] }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <pre>
                          <code>
                            {{ json_schema['display_examples'][loop.index0] }}
                          </code>                    
                        </pre>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          {% endfor %}
        {% endfor %}
      </tbody>
    </table>
    {% endmacro %}

    <!-- Navigation Bar -->  
    <nav class="navbar navbar-expand-lg navbar-green navbar-dark"> {# navbar navbar-expand-sm navbar-dark #}

      <div class="container-fluid">
        <a class="navbar-brand main-etl-construction" href="{{ url_for('main.home') }}">ETL Construction</a>
        <!-- NAVBAR COLLAPSE BUTTON -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {{ dropdown(current_user.is_authenticated, "Shipments",             url_for('shipments.make_shipment'),      "Make Shipment", url_for('tables.shipment_table'),                    "Table")}}
            {{ dropdown(current_user.is_authenticated, "Components",            url_for('parts.register_components'),    "Register",      url_for('tables.component_table'),                       "Table", url_3=url_for('parts.remove_components'), url_3_name="Remove")}}
            {{ dropdown(current_user.is_authenticated, "Modules",               url_for('parts.register_modules'),       "Register",      url_for('tables.module_table'),                          "Table")}}
            {{ dropdown(current_user.is_authenticated, "Assembly",              url_for('construction.record_assembly'), "Record",        url_for('tables.construction_table', constr_table='assembly'), "Table")}}
            {{ dropdown(current_user.is_authenticated, "Test",                  url_for('construction.record_test'),     "Record",        url_for('tables.construction_table', constr_table='test'),     "Table")}}

            {% if current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('construction.observation')}}" aria-expanded="false">
                Observation
              </a>
            </li>
            {% endif %}
            
            {# url_for('flasgger.apidocs') #}
            {{ dropdown(current_user.is_authenticated, "API",                  url_for('main.api_token'),     "Access Token",       url_for('flasgger.apidocs'),     "Docs")}}

            {% if current_user.is_authenticated and current_user.is_admin %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('admin.index') }}">Admin</a>
              </li>
            {% endif %}
            <li class="nav-item ms-4">
              <button class="btn btn-outline-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Show ETL Config</button>
            </li>
            
          </ul>
          <!-- Right adjusted dropdown menu items -->
          <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              {% if current_user.is_authenticated %}
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{current_user.username}}
                </a>
              {% else %}
                <a class="nav-link" href="{{ url_for('auth.login')}}">Login</a>
              {% endif %}
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                <li> <a class="dropdown-item" href="{{ url_for('auth.update_profile')}}">Update Profile</a> </li>  
                <div class="dropdown-divider"></div>     
                <li><a class="dropdown-item" href="{{ url_for('auth.logout')}}">Logout</a></li>                
              </ul>
            </li>            
          </ul>
        </div>
      </div>
    </nav>

    <!-- https://stackoverflow.com/questions/41652400/fetching-data-from-server-in-multiple-pages-of-flask-application -->
    <div class="offcanvas offcanvas-start offcanvas-size-xl" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">ETL DB Configured Values</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div class="accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Component Types
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <table class="table table-striped table-hover table-sm">
                  <thead>
                    <tr>
                      <th scope="col">Long Name</th>
                      <th scope="col">Abbv. Name</th>
                      <th scope="col">Description</th>
                      <th scope="col">Required Columns</th>
                      <th scope="col">Is Subassembly</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in base_page_component_type %}
                      <tr>
                        <td>{{ item.name_long }}</td>
                        <td>{{ item.name_abbv }}</td>
                        <td>{{ item.description }}</td>
                        <td>{{ item.required_keys }}</td>
                        <td>{{ item.is_subassembly if item.is_subassembly else 'False' }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                Module Types
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                {{ render_lookup_table(base_page_module_type) }} 
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                Locations
              </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                {{ render_lookup_table(base_page_location) }} 
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseThree">
                Assembly Types
              </button>
            </h2>
            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                {{render_table(base_page_assembly_types)}}
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseThree">
                Test Types
              </button>
            </h2>
            <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                {{render_table(base_page_test_types)}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Ajax flashes -->
    <div class="container-fluid p-0"><ul id="ajax-flashes" class="flashes"></ul></div>
    <!-- Flask flashes -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      <!-- looks for flashed messages -->
      {% if messages %}
        <div class="container-fluid p-0">
          <ul class="flashes">
            {% for category, message in messages %}
            {# use boostrap categories for alerts! #}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert"> 
              {% if message is string %}
                {{ message }} 
              {% else %}
                {% for msg_line in message %}
                  {{ msg_line }} <br>
                {% endfor %}              
              {% endif %}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
          </ul>        
        </div>
      {% endif %}
    {% endwith %}
    <!-- derived templates insert themselves here -->
    <!-- base.html takes care of general page structure! --> 
    {% block content %}{% endblock %}
    
    <article></article>

    <div class="container">
      <div id="loading-spinner" class="text-center">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      {% if base_current_user %}
        <div id="feature-request" class="input-group text-center mt-3">
          <input id="feature-request-input" type="text" class="form-control" placeholder="Request a feature or report an issue" aria-label="Recipient's username" aria-describedby="button-addon2"  autocomplete="off">
          <button class="btn btn-secondary" type="button" id="req-feature-btn">Send!</button>
        </div>
      {% endif %}
    </div>
    <footer class="footer_container">

      <div class="left_footer_group">
        <img src="{{ url_for('main.static', filename='images/cms_logo.png') }}" height="50px" width="50px">
        <div class="footer-sites">
          <a class="footer-links" href="https://prod-etl.app.cern.ch" target="_blank">Production</a>
          <a class="footer-links" href="https://staging-etl.app.cern.ch" target="_blank">Playground</a>
        </div>
      </div>

      <div class="right_footer_group">
        <a class="footer-email" href="mailto:cms-etl-construction-web-app@cern.ch">Email the Admins</a>
        <a class="text-muted" href="https://gitlab.cern.ch/hswanson/mtd-etl-app" target="_blank"><i class="bi bi-gitlab" style="color: #FFF8E7";></i></a>
      </div>
    </footer>

    <!-- For popovers -->
    <script>
      var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
      var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
          return new bootstrap.Popover(popoverTriggerEl)
      })
      $("#loading-spinner").hide();
      $("#req-feature-btn").on("click", function(){
        if ($("#feature-request-input").val()) {
          $.ajax({
              url: "{{ url_for('main.send_feature_request') }}",
              type: "POST",
              data: $("#feature-request-input").val(),
              dataType: "text",
              contentType: 'text/plain',
              async: true,
              beforeSend: function() {
                $("#feature-request").hide();
                $("#loading-spinner").show();
              },
              complete: function() {
                $("#loading-spinner").hide();
                $("#feature-request").show();
              },
              success: function(message){
                  $("#feature-request-input").val('');
                  $("#ajax-flashes").append(`
                    <div class="alert alert-success alert-dismissible fade show" role="alert"> 
                        ${message}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                  `);
              },
              error: function (xhr, status, error) {
                  console.log('Error: ' + error.message);
              },
          });
        }
      })

    </script>

  </body>
</html>