{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" type= "text/css" href="{{ url_for('main.static', filename='styles/home_styles.css') }}">

<div class="container-sidebar">
    {#
    <div id="site-overview">
        <div class="text-center container site-title">
            <h1>Welcome to the</h1>
            <h1>ETL Construction Website</h1>
            <p class="sub-title-text">
                Capturing and safely storing data for the development of the ETL detector for the HL-LHC
            </p>
        </div>
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingScope">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseScope" aria-expanded="false" aria-controls="panelsStayOpen-collapseScope">
                Scope
                </button>
            </h2>
            <div id="panelsStayOpen-collapseScope" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingScope">
                <div class="accordion-body">
                    Here is a detailed scope of what the application plans to track. NOT everything that is tracked here will end up in the MTD Database <small>(developed by Giovanni Organtini)</small>.
                    <div class="container px-1 overview-content" style="margin-top: 8px">
                        <div class="col-left">
                            <ul class="main-parts">
                                <li>
                                    <strong>Parts of the detector that are tracked:</strong> Components -> Modules -> Readout Boards <small>(with the arrows indicating the hierarchy of the parts)</small>
                                    <ul>
                                        <li>
                                            <strong>Components:</strong> Components are the physical parts needed to make a module: ETROC, LGAD, ETROC+LGAD subassemblies and Module PCBs
                                        </li>
                                        <li>
                                            <strong>Modules:</strong> Modules are made up of components. Any component, so it could be ETROCs for digital modules or subassembly for full modules.
                                        </li>
                                        <li>
                                            <strong>Readout Boards:</strong> Modules get plugged into the Readout Boards.
                                        </li>                                          
                                    </ul>
                                </li>
                                <li>
                                    <strong>Assembly, Tests and Observations</strong>
                                    <ul>
                                        <li><strong>Assembly</strong>: Data from the Gantry or Jig is tracked. Along with any other standard step outlined in it's section.</li>
                                        <li><strong>Tests</strong>: Tests before the assembly of a module and after using the Tamalero software is tracked.</li>
                                        <li><strong>Observations</strong>: A message or picture that is associated with a component or module.</li>
                                    </ul>
                                </li>
                                <li>
                                    <strong>Shipments of Parts</strong>: Anytime a part (Component, Module or Readout Board) is moved it can be tracked in a shipment. 
                                    The destination of a shipment for part is in is how the location of every part is decided.
                                </li>
                            </ul>                             
                        </div>
                        <div class="col-right">
                            <h6 class="text-center">ETL Tamale Module</h6>
                            <img class="img-fluid" src="{{ url_for('main.static', filename='images/etl_module.png') }}" width="55%">
                            <footer class="blockquote-footer">Image by Caleb Fangmeier</footer>
                        </div>
                    </div>
                </div>
            </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingRegComp">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseRegComp" aria-expanded="false" aria-controls="panelsStayOpen-collapseRegComp">
                    Registering Components
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseRegComp" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingRegComp">
                    <div class="accordion-body">
                        Registration of Components is done via an excel or csv file in the page. Details for how to do is on that page. Here is what is stored:
                        <ul class="main-parts">
                            <strong>Each point is a column in the CSV or Excel file EXCEPT for the last tw</strong>
                            <li>
                                <strong>SerialNumber</strong>: A unique string of letters and numbers, preferabbly enumerated. 
                            </li>
                            <li>
                                <strong>ComponentType</strong>: The group the component belongs to like "Production ETROC" or "Throughput Module PCB". 
                                The allowed Component Types are defined the <a href="{{url_for('componenttype.index_view')}}">Component Type Lookup Table</a>.
                            </li>
                            <li>
                                <strong>Vendor:</strong> The Vendor that has produced the component.
                            </li>
                            <li>
                                <strong>DynamicRequiredColumns</strong>: This is not actually a name of the column in the CSV. It represents a group that is defined in the LookUp table for each component type.
                                If one of those columns in the lookup table are not provided, it will prevent the upload of parts for that component type.
                            </li>
                            <li>
                                <strong>CATCHALL</strong>: This is also not actually the name of the column in the CSV. If a column is provided and it is not a required column, it will be stored as key value pair in the database.
                            </li>
                        </ul>   
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingCreMod">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseCreMod" aria-expanded="false" aria-controls="panelsStayOpen-collapseCreMod">
                    Creating Modules
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseCreMod" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingCreMod">
                    <div class="accordion-body">
                        After receiving your components from a shipment and want to build a module you need to group the components needed to build the module. This creates the module in the database.
                        <hr>
                        Each module has a predefined number of components to associate with it, each component has positions 4, 3, 2, 1, 0. This can be thought of as a legend to build the module.
                        For a typical module there are five positions in total, four positions for the ETROC+LGAD subassemblies (4, 3, 3, 1) and 1 position for the Module PCB (0).
                    </div>
                </div>
            </div>
            <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingShip">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseShip" aria-expanded="false" aria-controls="panelsStayOpen-collapseShip">
                Shipments - Moving Modules and Components 
                </button>
            </h2>
            <div id="panelsStayOpen-collapseShip" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingShip">
                <div class="accordion-body">
                    The shipment section can track the shipment of all modules or components. The last shipment of a module or component is how its current location is defined (very important!) for the entire application.
                    <hr>
    
                    <div class="col">
                        <h6>How locations are defined:</h6>
                        <ul>
                            <li>
                                <strong>Component:</strong> By the definition of the last shipment it was in. If it is currently being shipped it is said to be <i>in transit</i>. 
                            </li>
                            <li>
                                <strong>Module:</strong> By its last shipment or if it does not have a last shipment, then by the location of all the components associated with a module (associated via the <a href="{{ url_for('parts.register_modules') }}">register modules step</a>!). 
                                If the components do not have the same location the modules location becomes <i>undefined</i>. 
                                Can be easily fixed by editting the shipment.
                                To find undefined modules, search for them in the <a href="{{ url_for('tables.module_table') }}">summary of modules page</a>.
                            </li>
                        </ul>                        
                    </div>
                    <hr>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <h6><a href="{{ url_for('shipments.make_shipment') }}">Make a Shipment</a></h6>
                                <p> This is used to send modules or components between sites. The destination of this shipment is what defines the current location. </p>                    
                            </div>
    
                            <div class="col">
                                <h6><a href="{{ url_for('tables.shipment_table') }}">Verify Shipments</a></h6>
                                <p> Upon receiving a shipment, you verify it by finding it in the <a href="{{ url_for('tables.shipment_table') }}">view shipments</a> page. Once submitting the reception date into the form, the location of module or component is updated. </p>                       
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
    
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingGantryAssy">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseGantryAssy" aria-expanded="false" aria-controls="panelsStayOpen-collapseGantryAssy">
                    Gantry Site's Assembly Routine
                </button>
                </h2>
                <div id="panelsStayOpen-collapseGantryAssy" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingGantryAssy">
                <div class="accordion-body">
                    The modules are mechanically built with a robotic gantry and are electrically connected by a wirebonding machine.
    
                    <div class="container text-center" style="padding-top: 8px">
                        <h5>The Four Tracked Steps</h6>
                    </div>
                    
                    <div>
                        <h6>Pick and Place Subassemblies</h6>
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <strong>Background:</strong> This steps places the four ETROC+LGAD subassemblies onto a thin piece of film that rests on the surface of the module pcb. 
                                </div>
                                <div class="col">
                                    <strong>What we store:</strong> After each placement of the ETROC+LGAD subassembly onto the module pcb the robotic gantry provides a log file with the position and rotation measurements. You can simply upload this log file and the site will parse and store the data for each component.
                                </div>
                                <div class="col">
                                    <img class="img-fluid" src="{{ url_for('main.static', filename='images/pick_place_subassemblies.png') }}" height="50%">
                                    <footer class="blockquote-footer">Image by Caleb Fangmeier</footer>
                                </div>                                 
                            </div>
                        </div>
                    </div>
                    <div>
                        <h6>Wirebonding</h6>
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <strong>Background:</strong> Wirebonding provides power to our Application-Specific Integrated Circuit (ASIC) the ETROC as well as bringing the signal from the LGAD sensor to the outside, the module.
                                </div>
                                <div class="col">
                                    <strong>What we store:</strong> TO BE IMPLEMENTED: WHAT INFORMATION DO WE GATHER FOR THIS STEP IN THE WEBSITE
                                </div>
                                <div class="col">
                                    <img class="img-fluid" src="{{ url_for('main.static', filename='images/wirebonding.png') }}" height="50%">
                                    
                                    <footer class="blockquote-footer">Image by Caleb Fangmeier</footer>
                                </div>                                 
                            </div>
                        </div>
                    </div> 
                    <div>
                        <h6>Encapsulation</h6>
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <strong>Background:</strong> This step simply protects the wirebonds by dispensing encapsulant onto them.
                                </div>
                                <div class="col">
                                    <strong>What we store:</strong> TO BE IMPLEMENTED: WHAT INFORMATION DO WE GATHER FOR THIS STEP IN THE WEBSITE
                                </div>
                                <div class="col">
                                    <img class="img-fluid" src="{{ url_for('main.static', filename='images/encapsulation.JPG') }}" height="10%">
                                    <footer class="blockquote-footer">Image by Jahid Hossain</footer>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                    <div>
                        <h6>Pick and Place Baseplate</h6>
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <strong>Background:</strong> The baseplate protects the sensor as well as providing a thermal contact for cooling the module.
                                </div>
                                <div class="col">
                                    <strong>What we store:</strong> A similar gantry log file, from the first pick & place step is provided by the gantry. It tells us how well the baseplate center is aligned with the module center. TO BE IMPLEMENTED: Need to add upload for this step.
                                </div>
                                <div class="col">
                                    <img class="img-fluid" src="{{ url_for('main.static', filename='images/pick_place_baseplate.png') }}" height="35%">
                                    <footer class="blockquote-footer">Image by Hayden Swanson</footer>
                                </div>                                 
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingJigAssy">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseJigAssy" aria-expanded="false" aria-controls="panelsStayOpen-collapseJigAssy">
                    Jig Site's Assembly Routine
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseJigAssy" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingJigAssy">
                    <div class="accordion-body">
                        TO BE IMPLEMENTED
                    </div>
                </div>
            </div>
            
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingPreTest">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapsePreTest" aria-expanded="false" aria-controls="panelsStayOpen-collapsePreTest">
                    Pre Assembly Testing
                </button>
                </h2>
                <div id="panelsStayOpen-collapsePreTest" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingPreTest">
                <div class="accordion-body">
                    TO BE IMPLEMENTED
                </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingTamTest">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTamTest" aria-expanded="false" aria-controls="panelsStayOpen-collapseTamTest">
                    Tamalero Testing
                </button>
                </h2>
                <div id="panelsStayOpen-collapseTamTest" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTamTest">
                <div class="accordion-body">
                    <p>
                        Tests here are done using <a href="https://gitlab.cern.ch/cms-etl-electronics/module_test_sw">Tamalero Software</a>. It creates a JSON file that contains all the tests on each Component of the Module.
                        A <a href="https://gitlab.cern.ch/cms-etl-electronics/tamalero_dashboard">Tamalero Dashboard GUI</a> has also been developed to also get this JSON file from the Tamalero Software.
                    </p>
                </div>
                </div>
            </div>
    
        </div>
    </div>
    #}
    <div class="group-container">
        {% if current_user.is_authenticated %}
        <div class="work_group">
            <!-- <p class="work-flow"> OPERATIONS </p> -->
            <h4 class="m-0"> OPERATIONS </h4>
            <div class="side-by-side border">
                
                <div class="n_card_group">
                    <h2 class="title text-center">Make Shipment</h2>
                    <div class="card_container">
                        <div class="card">
                            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                            <div class="card-body">
                                <h5 class="card-title">Make Shipment</h5>
                                <p class="card-text">Record the shipment of a component or module</p>
                            </div>
                            <div class="card-footer">
                                <a href="{{ url_for('shipments.make_shipment') }}" class="btn btn-earth">Make Shipment</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="n_card_group">
                    <h2 class="title text-center">Register Components</h2>
                    <div class="card_container">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Register Component</h5>
                                <p class="card-text">Module PCBs, ETROCs, LGADs, ETROC+LGAD Subassemblies, and Readout Boards</p>  
                            </div>
                            <div class="card-footer">
                                <a href="{{ url_for('parts.register_components')}}" class="btn btn-earth">Register Components</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="n_card_group">
                    <h2 class="title text-center"> Register Modules </h2>
                    <div class="card_container">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Register a Module</h5>
                                <p class="card-text">Register a module by associating the components that will be used to build the module</p>  
                            </div>
                            <div class="card-footer">
                                <a href="{{ url_for('parts.register_modules')}}" class="btn btn-earth">Register Module</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="n_card_group">
                    <h2 class="title text-center"> Assembly </h2>
                    <div class="card_container">
                
                        <div class="card">
                            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                            <div class="card-body">
                                <h5 class="card-title">Assembly</h5>
                                <p class="card-text">Record your assembly steps.</p>
                            </div>
                            <div class="card-footer">
                                <a href="{{ url_for('construction.record_assembly')}}" class="btn btn-earth">Record Assembly</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="n_card_group">
                    <h2 class="title text-center">Testing</h2>
                    <div class="card_container">    
                        <div class="card">
                            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                            <div class="card-body">
                                <h5 class="card-title">Record Test</h5>
                                <p class="card-text">Record your tests.</p>
                            </div>
                            <div class="card-footer">
                                <a href="{{ url_for('construction.record_test') }}" class="btn btn-earth">Record Test</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="n_card_group">
                    <h2 class="title text-center"> Observation </h2>
                    <div class="card_container">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Observation</h5>
                                <p class="card-text">Associate an image or message with a module or component </p>  
                            </div>
                            <div class="card-footer">
                                <a href="{{ url_for('construction.observation')}}" class="btn btn-earth">Observation</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        
        <div class="work_group">
            <!-- <p class="work-flow"> TABLES </p> -->
            <h4 class="m-0 pt-1"> Tables </h4>

            <div class="side-by-side border">

                <div class="n_card_group">
                    <h2 class="title text-center"> Shipments </h2>
                    <div class="card_container">
                        <div class="card">
                            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                            <div class="card-body">
                                <h5 class="card-title">View Shipments</h5>
                                <p class="card-text">Shows the current and history of shipments</p>  
                            </div>
                            <div class="card-footer">
                                <a href="{{ url_for('tables.shipment_table')}}" class="btn btn-earth">View Shipments</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="n_card_group">
                    <h2 class="title text-center"> Components </h2>
                    <div class="card_container">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Components</h5>
                                <p class="card-text">A table of all the parts used to make Modules and Super-Modules</p>  
                            </div>
                            <div class="card-footer">
                                <a href="{{ url_for('tables.component_table') }}" class="btn btn-earth">Components</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="n_card_group">
                    <h2 class="title text-center">Modules</h2>
                    <div class="card_container">
                        <div class="card">
                            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                            <div class="card-body">
                                <h5 class="card-title">Modules</h5>
                                <p class="card-text">A table of all the Modules for ETL. </p>  
                            </div>
                            <div class="card-footer">
                                <a href="{{ url_for('tables.module_table') }}" class="btn btn-earth">Modules</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="n_card_group">
                    <h2 class="title text-center">View Tests</h2>
                    <div class="card_container">
                        <div class="card">
                            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                            <div class="card-body">
                                <h5 class="card-title">View All Testing</h5>
                                <p class="card-text">A table of all the testing records. </p>  
                            </div>
                            <div class="card-footer">
                                <a href="{{ url_for('tables.construction_table', constr_table='test')}}" class="btn btn-earth">View Tests</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="n_card_group">
                    <h2 class="title text-center">View Assemblies</h2>
                    <div class="card_container">
                
                        <div class="card">
                            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                            <div class="card-body">
                                <h5 class="card-title">View All Assemblies</h5>
                                <p class="card-text">A table of all the assembly records. </p>  
                            </div>
                            <div class="card-footer">
                                <a href="{{ url_for('tables.construction_table', constr_table='assembly') }}" class="btn btn-earth">View Assembly</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}