{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css"
      href="{{ url_for('construction.static', filename='styles/json_construction.css') }}">

<div class="container">
    <button class="btn btn-earth btn-sm container-fluid" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Documentation for {% if constr_name == 'test' %} Test {% else %} Assembly {% endif %} Uploads
        <i class="bi bi-caret-down-fill"></i>
    </button>
    <div class="mb-3 collapse" id="collapseExample"> {#collapse#}
        <div class="card card-body">
            <p>
                All assemblies and tests need to be converted to this standard format, this can either be done by you or the maintainer. 
                However, if <u>possible</u> (highly recommended though) you should <strong>store your data in this format</strong> to reduce the number of times data is <i>transformed</i>.
            </p>
            <div class="JSONandExplainBox">
                <h2 class="text-center"><strong>The Standard JSON Format</strong></h2>
                <div class="JSONStandardBox">
                    <div id="carouselExampleDark" class="container carousel carousel-dark carousel-fade" data-bs-interval="false">
                        <div class="carousel-indicators">
                            {% for dmod in data_models %}
                                {% set outer_loop = loop %}
                                {% for ex in dmod.get_examples(for_display=True) %}
                                    {% if outer_loop.index == 1 and loop.index == 1 %}
                                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                    {% else %}
                                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="{{loop.index-1 + outer_loop.index-1}}" aria-label="Slide {{loop.index}}"></button>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </div>
                        <div class="carousel-inner">
                        {% for dmod in data_models %}
                            {% set outer_loop = loop %}
                            {% for ex in dmod.get_examples(for_display=True) %}
                                {% if outer_loop.index == 1 and loop.index == 1 %}
                                <div class="carousel-item active">
                                    <pre class="JSONStandardExample">
                                        <code>
                                            {{ ex }}
                                        </code>                    
                                    </pre>
                                </div>
                                {% else %}
                                <div class="carousel-item">
                                    <pre class="JSONStandardExample">
                                        <code>
                                            {{ ex }}
                                        </code>                    
                                    </pre>
                                </div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                        </div>
                        <button class="carousel-control-prev d-flex justify-content-start" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next d-flex justify-content-end" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="JSONExplanation">

                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>All Fields</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            {#
                            <tr>
                                <td><strong>type</strong></td>
                                <td>The {% if constr_name == 'test' %}test{% else %}assembly{% endif %} type decides if module, component and/or component_pos are required. As well as what the format of the data is.
                                    See this <a {% if constr_name == 'test' %} href="{{ url_for('testtype.index_view') }}" {% else %} href="{{ url_for('assemblytype.index_view') }}" {% endif %} >table</a> for the configurations.
                                </td>
                            </tr>
                            #}
                            <tr>
                                <td><strong>module</strong></td>
                                <td>Module serial number</td>
                            </tr>
                            <tr>
                                <td><strong>component</strong></td>
                                <td>Component serial number <small>(ETROC, LGAD, Module PCB, or Subassembly)</small></td>
                            </tr>
                            <tr>
                                <td><strong>component_pos</strong></td>
                                <td>The component position on the module (1,2,3,4)</td>
                            </tr>
                            <tr>
                                <td><strong>measurement_date</strong></td>
                                <td>The <strong>date and time</strong> the measurement was taken. An accepted format is the <a href="https://en.wikipedia.org/wiki/ISO_8601" target="_blank">Standard ISO format</a>.
                                </td>
                            </tr>
                            <tr>
                                <td><strong>data</strong></td>
                                <td>The data for this particular assembly or test, should be a string.</td>
                            </tr>
                            <tr>
                                <td><strong>location</strong></td>
                                <td>Where the test took place, see locations in the database <a href="{{ url_for('location.index_view') }}" target="_blank">locations</a> (abbreviation or long name works!)
                                </td>
                            </tr>
                            <tr>
                                <td><strong>user_created</strong></td>
                                <td>Username of the user who performed the assembly or test</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                {#
                <ul>
                    <strong> Example of JSON Standard Format Upload </strong>
                    <li>
                        (This will not be able to upload because it mixes assemblies and tests which is unfortunately forbidden for now)
                        <a href="{{ url_for('main.download_template', filename='json_standard_format_example.json') }}">Download JSON Standard Format Example</a>
                    </li>
                </ul>                 
                #}
            </div>
        </div>
    </div>
</div>
 
<form class="container" action="" method="post" enctype="multipart/form-data" class="p-2">
    {{ form.hidden_tag() }}
    <div class="FieldBox mt-3">
        <div class="FileBox">
            {{ form.json_file() }}
            {% for error in form.json_file.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div> 
        <div class="SubmitBox">
            {{ form.submit(class="btn btn-m btn-primary") }}
        </div>        
    </div>

</form>

<div id="output_div">
    <div class="OnPageExample">
        <pre class="JSONStandardExample" style="height: fit-content; background-color: rgba(0, 0, 0, 0);">
            <code style="font-size: small; color:rgba(101, 100, 100, 0.94)">
                          The Standard JSON Format
[
    {
        "type": "pick and place survey precure",
        "module": "PBU0001",
        "component": "component serial number",
        "component_pos": number, position of component on module
        "measurement_date": "2023-01-01T12:00:00+00:00",
        "data": the custom data type,
        "location": "Boston University",
        "user_created": "username",
    },
    {
        "type": "sensor iv",
        "component": "PS0001",
        "measurement_date": "2023-01-01T12:00:00+00:00",
        "data": the custom data type,
        "location": "BU",
        "user_created": "username",
    },
    ...
]
            </code>                    
        </pre>
    </div>
</div>


<script>
    $("#json_file").on('input', function(){
        $("#output_div").empty();
        const inputFileData = this.files[0];
        if (inputFileData!==undefined){
            const myFormData = new FormData();
            myFormData.append('file', inputFileData);
            $.ajax({
                url: "{{ url_for('construction.preview_construction') }}",
                type: 'POST',
                processData: false,
                contentType: false,
                dataType: 'json',
                data: myFormData,
                success: (result) => {
                    //Check if there are columns or that array is empty
                    if ((result.hasOwnProperty('error') && result['error'] != null)){
                        $("#ajax-flashes").append(`
                            <div class="alert alert-danger alert-dismissible fade show" role="alert"> 
                                ${result['error']}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        `);
                    }
                    else {

                        const columnsWithFormatters = result.columns.map(column => {
                            if (column.id === 'data') {
                                return {
                                    'id': column.id,
                                    'name': column.name,
                                    formatter: cell => gridjs.html(cell)
                                };
                            }
                            return column;
                        });

                        const mygrid = new gridjs.Grid({
                            columns: columnsWithFormatters,
                            data: () => result['data'],
                            pagination: {
                                limit: 3
                            },
                            resizable: true,
                            style: { 
                                table: { 
                                'white-space': 'nowrap'
                                },
                                td: {
                                    'padding': 0,
                                    'text-align': 'center',
                                }
                            },
                        }).render(output_div);

                        mygrid.forceRender();                        
                    }
                },
                error: (result) => {
                    var error = result?.responseJSON?.error;
                    if (error == 'Request Entity Too Large') {
                        var error_msg = "File too large, max file size is {{ max_content_length / (1024 * 1024) }} MB";
                    }
                    else {
                        var error_msg = error;
                    };
                    $("#ajax-flashes").append(`
                            <div class="alert alert-danger alert-dismissible fade show" role="alert"> 
                                ${error_msg}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        `);

                }
            })
        }
    });
</script>

{% endblock %}