{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" type="text/css"
      href="{{ url_for('construction.static', filename='styles/observation.css') }}">

<form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="container">
        <h1 class="text-center">Observation</h1>
        <div class="row">
            <div class="col form-group">
                {{ form.module.label }}
                {{ form.module(size=32) }}
                {% for error in form.module.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="col form-group">
                {{ form.component.label }}
                {{ form.component(size=32) }}
                {% for error in form.component.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="col form-group verticalLine">
                {{ form.location.label }}
                {{ form.location(size=32, list="list_locations") }}
                <datalist id="list_locations">
                    {% for choices in form.location.choices %}
                        <option value="{{ choices[1] }}">
                    {% endfor %}
                </datalist>
                {% for error in form.location.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>     
        </div>
        <small id="module-help" class="form-text text-muted">An observation can only be made for a single module or component. The component can be a part of a module.</small>         

        <div class="row">
            <div class="col form-group">
                {{ form.message.label }}
                {{ form.message }}
                {% for error in form.message.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col form-group">
                {{ form.images.label }}
                {{ form.images(size=32) }}
                {% for error in form.images.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <small id="images-help" class="form-text text-muted">Multiple images can be selected at once to drag and drop!</small>         
            
        </div>

        <hr>
        <div style="margin-right: 10px;">{{ form.submit(class="w-10 btn btn-m btn-primary") }}</div>
    </div>
</form>

<div class="container">
    <h4>Image Preview</h1>
    <div id="image-preview" class="container">
        
    </div>
</div>

<script>
    //disable module or component if there is text in either input field
    function disable_switch(input, output){
        if ($(input).val()){
            $(output).attr('disabled', 'disabled');
        }
        else {
            $(output).removeAttr('disabled');
        }
    }

    $("#module").on("input", function(){
        disable_switch("#module","#component")
    })

    $("#component").on("input", function(){
        disable_switch("#component","#module")
    })

    function remove_img(img_button){

        img_button.closest('.image-container').remove();
        
        //jquery does not work have to use this!!
        const fileInput = document.querySelector("#images");

        if (fileInput){
            const dataTransfer = new DataTransfer();
            for (let i = 0; i < fileInput.files.length; i++) {
                if (img_button.id != i){
                    //img_button id corresponds to the i'th image, the clicked button is the one we want to remove hence != i
                    dataTransfer.items.add(fileInput.files.item(i));
                }
            }
            fileInput.files = dataTransfer.files;
            $("#images").trigger("input");
        }
    }

    $("#images").on("input", function() {
        $("#image-preview").empty();
        // Get a reference to the files selected
        let files = this.files;
        
        // Loop through all the files and read them, append them to a container with a button
        for (var i = 0; i < files.length; i++) {
            //need to loop around the file reader to avoid using the same one and it becoming "busy", makes a new one on each file loop!
            let reader = new FileReader();
            let image_container = $(`<div class="image-container"></div>"`)
            let close_button = $(`<button type="button" id=${i} onclick="remove_img(this)" class="btn-close btn-close-white img-button hover-effect" aria-label="Close"></button>`)

            // Listen for the 'load' event
            reader.onload = function(e) {
                // Create a new image element
                let img = $(`<img class="single-image img-thumbnail hover-effect" />`);

                // Set the image src attribute to the data url of the uploaded file
                img.attr("src", e.target.result);
                // Change Image width
                img.width(300);

                image_container.append(img)
                image_container.append(close_button)
                
                //Append the image
                $("#image-preview").append(image_container);
            }
            reader.readAsDataURL(files[i]);
        }
    });


</script>

{% endblock %}