{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" type= "text/css" href="{{ url_for('construction.static', filename='styles/view_construction.css') }}">

<div class="container">
    <div class="ConstrTitleBox">
        <h1>{% if constr_table == 'test' %} {{constr_step.type}} {% elif constr_table == 'assembly' %} {{constr_step.type}} {% endif %} <a class="ConstrLink" href="{{ url_for('tables.construction_table', constr_table=constr_table)}}">{{constr_table | title}}</a> ID={{constr_step.id}}</h1>
        <div class="ConstrPartBox">
            {% if constr_step.module %}   
                <div class="PartTitleBox">
                    <h3 class="PartTitle"> Module <a class="ConstrLink" href="{{url_for('parts.part_summary', part_table='module', part_sn=constr_step.module.serial_number)}}">{{ constr_step.module.serial_number }}</a> </h3>
                    <small class="text-muted" title="{{constr_step.module.module_type.description}}">{{constr_step.module.module_type.name_long}}</small>            
                </div>  
            {% endif %}
            {% if constr_step.component %} 
                <div class="PartTitleBox">
                    <h3 class="PartTitle">Component <a class="ConstrLink" href="{{url_for('parts.part_summary', part_table='component', part_sn=constr_step.component.serial_number)}}">{{ constr_step.component.serial_number }}</a></h3>
                    <small class="text-muted" title="{{constr_step.component.component_type.description}}">{{constr_step.component.component_type.name_long}}</small>
                </div>
            {% endif %}
            {% if constr_step.component_pos %}
                <div class="PartTitleBox">
                    <h3 class="PartTitle">Component Position {{ constr_step.component_pos }}</h3>
                    <small class="text-muted">on Module</small>
                </div>
            {% endif %}
        </div>
        <h4>
            {% if constr_step.user_created %}
                By {{constr_step.user_created.username}} on 
            {% endif %}
            {{constr_step.measurement_date}} 
            at {{constr_step.location.name_long}}
        </h4>
    </div>
    <hr>
    <div class="dflex flex-column align-itmes-center">
        {{constr_step.display() | safe}}
    </div>    
</div>


{% endblock %}
