{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css"
href="{{ url_for('parts.static', filename='styles/associate_components.css') }}">


<form action="" method="post" role="form">
    {{ form.hidden_tag() }}
    <div id="prepped-mods" class="container" style="max-width: 90%; margin: auto">
        <h1 class="text-center"> 
            Prepare Modules 
        </h1>
        <h6 class="text-center">
            (Page 2: Associate Components with selected Modules)
            <a href="{{ url_for('parts.register_modules') }}" class="btn btn-info btn-sm" role="button">Go Back (start over)</a>
        </h6>
        <hr>
        <div class="ModuleContainer">
            {% for mod_form, mod_sn in zip(form.module_prep.entries, module_sns) %}
                {% if module_type.number_of_components == 5 %}
                <div class="Module shadow-lg p-3 ">
                    {{ mod_form.hidden_tag() }}
                    <label class="container text-center">{{mod_sn}}</label>
                        <div class="chip-container">
                            <div class = "chip-box">
                                <label>{{ positions_number[0] }}</label>
                                {{ mod_form.position[0](list="list_"+mod_form.position[0].id, class="form-control text-center chip") }}
                                <datalist id="list_{{mod_form.position[0].id}}">
                                    {% for choices in mod_form.position[0].choices %}
                                        <option value="{{ choices[1] }}">
                                    {% endfor %}
                                </datalist>
                                {% for error in mod_form.position[0].errors %}
                                    <span style="color: rgb(255, 247, 0);">[{{ error }}]</span>
                                {% endfor %}
                            </div>
                            <div class = "chip-box">
                                <label>{{ positions_number[1] }}</label>
                                {{ mod_form.position[1](list="list_"+mod_form.position[1].id, class="form-control text-center chip") }}
                                <datalist id="list_{{mod_form.position[1].id}}">
                                    {% for choices in mod_form.position[1].choices %}
                                        <option value="{{ choices[1] }}">
                                    {% endfor %}
                                </datalist>
                                {% for error in mod_form.position[1].errors %}
                                    <span style="color: rgb(255, 247, 0);">[{{ error }}]</span>
                                {% endfor %}
                            </div>

                            <div class = "chip-box">
                                <label>{{ positions_number[2] }}</label>
                                {{ mod_form.position[2](list="list_"+mod_form.position[2].id,class="form-control text-center chip") }}
                                <datalist id="list_{{mod_form.position[2].id}}">
                                    {% for choices in mod_form.position[2].choices %}
                                        <option value="{{ choices[1] }}">
                                    {% endfor %}
                                </datalist>
                                {% for error in mod_form.position[2].errors %}
                                    <span style="color: rgb(255, 247, 0);">[{{ error }}]</span>
                                {% endfor %}
                            </div>  
                            <div class = "chip-box">
                                <label>{{ positions_number[3] }}</label>
                                {{ mod_form.position[3](list="list_"+mod_form.position[3].id, class="form-control text-center chip") }}
                                <datalist id="list_{{mod_form.position[3].id}}">
                                    {% for choices in mod_form.position[3].choices %}
                                        <option value="{{ choices[1] }}">
                                    {% endfor %}
                                </datalist>
                                {% for error in mod_form.position[3].errors %}
                                    <span style="color: rgb(255, 247, 0);">[{{ error }}]</span>
                                {% endfor %}
                            </div>                                
                        </div>

                        <div class="row">
                            <div class="col-sm">
                                <label>{{ positions_number[4] }} - Module PCB</label>
                                {{ mod_form.position[4](list="list_"+mod_form.position[4].id) }}
                                <datalist id="list_{{mod_form.position[4].id}}">
                                    {% for choices in mod_form.position[4].choices %}
                                        <option value="{{ choices[1] }}">
                                    {% endfor %}
                                </datalist>
                                {% for error in mod_form.position[4].errors %}
                                    <span style="color: rgb(255, 247, 0);">[{{ error }}]</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="container OtherModuleType border border-dark rounded">
                        <label class="container text-center">{{mod_sn}}</label>
                        {{ mod_form.hidden_tag() }}
                        <ul class="custom-list">
                        {% for pos,pos_name in zip(mod_form.position, positions_number)%}
                                
                                <li>
                                    <label>{{pos_name}}</label>
                                    <!-- getting unique list names and id for list, not sure if it has to be unique but for later it could be useful (ex: popping values off the id list) -->
                                    {{pos(list="list_"+pos.id)}}
                                    <datalist id="list_{{pos.id}}">
                                        {% for choices in pos.choices %}
                                            <option value="{{ choices[1] }}">
                                        {% endfor %}
                                    </datalist>
                                    {% for error in pos.errors %}
                                        <span style="color: rgb(255, 247, 0);">[{{ error }}]</span>
                                    {% endfor %}
                                </li>
                        {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                
            {% endfor %}
        </div>
    </div>
    <div style="margin-right: 10px;">{{ form.submit(class="w-10 btn btn-m btn-primary") }}</div>
</form>

{% endblock %}