{% extends "base.html" %}
<link rel="stylesheet" type="text/css"
  href="{{ url_for('parts.static', filename='styles/part.css') }}">

{% import "macros/part.html" as macros %}

{% macro constr_title(title_name, upload_url)%}
  <div class="d-flex flex-row justify-content-between ms-2 me-4">
    <h2 class="ms-2 mb-0">{{title_name}}</h2>
    {% if current_user.is_authenticated %}
      <a href="{{upload_url}}" class="fs-4 text-decoration-none earth-green"><i class="bi bi-plus-square"></i> Add</a>
    {% else %}
      <a href="{{url_for('auth.login')}}" class="btn btn-earth w-auto">Login to Upload</a>
    {% endif %}
  </div>
{% endmacro %}

{% block content %}
<link rel="stylesheet" type= "text/css" href="{{ url_for('parts.static', filename='styles/part.css') }}">
<div class="text-center">
  <h1>{{part.serial_number}}</h1>
  <h5 title="{{part_type.description}}">{{part_type.name_long}}</h5>
  {% if part_table == 'component' %}
    {% if part.components%}
      Subcomponents:
      {% for subcomp in part.components %}
        | <a class="earth-green" style="font-size: 14px;" href="{{url_for('parts.part_summary', part_table='component', part_sn=subcomp.serial_number)}}">
            {{subcomp.serial_number}}
        </a>|
      {% endfor %}
    {% endif %}
    
    {% if part.module %}
    <br>
    Module: 
    <a class="earth-green" style="font-size: 14px;" href="{{url_for('parts.part_summary', part_table='module', part_sn=part.module.serial_number)}}">
      {{part.module.serial_number}}
    </a>
    {% endif %}

    {% if part.parent %}
    Parent Component:
    <a class="earth-green" style="font-size: 14px;" href="{{url_for('parts.part_summary', part_table='component', part_sn=part.parent.serial_number)}}">
      {{part.parent.serial_number}}
    </a>
    {% endif%}
  {% endif %}
</div>

{% if part|attr("module_type")%}
<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
  <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasScrollingLabel">The Module's Components</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
      {{ macros.module_display(part) }}
  </div>
</div>

<div class="btn-group btn-group-md" role="group" aria-label="Component Group">
  <button class="btn btn-earth" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">View Components</button>
</div>
{% endif %}

<hr>

{{ constr_title('Shipments', url_for('shipments.make_shipment')) }}
<div class="d-flex flex-row border flex-wrap p-3 mx-3 table-responsive">
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Username</th>
        <th scope="col">Origin</th>
        <th scope="col">Destination</th>
        <th scope="col">Shipment Date</th>
        <th scope="col">Reception Date</th>
        <th scope="col">Tracking Number</th>
        <th scope="col">Shipment Method</th>
      </tr>
    </thead>
    <tbody>
      {% for shipment in part.shipments | sort_by_reception_date %}
      <tr>
        <th scope="row">{{shipment.id}}</th>
        <td>{{shipment.user_created.username}}</td>
        <td>{{shipment.origin.name_long}}</td>
        <td>{{shipment.destination.name_long}}</td>
        <td>{{shipment.shipment_date.strftime('%Y-%m-%d')}}</td>
        <td>{{shipment.reception_date.strftime('%Y-%m-%d') if shipment.reception_date}} </td>
        <td>{{shipment.tracking_number}}</td>
        <td>{{shipment.shipment_method}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{{ constr_title('Tests', url_for('construction.record_test')) }}
<div class="d-flex flex-row border flex-wrap p-3 mx-3">
  {% if not part.test %}
    <h3 class="m-auto text-muted">Nothing Uploaded!</h3>
  {% endif %}  
  {% for test in part.test %}
      {{ macros.construction_card(test) }}
  {% endfor %}
</div>

{{ constr_title('Assemblies', url_for('construction.record_assembly')) }}
<div class="d-flex flex-row border flex-wrap p-3 mx-3">
    {% if not part.assembly %}
      <h3 class="m-auto text-muted">Nothing Uploaded!</h3>
    {% endif %}
    {% for assembly in part.assembly %}
        {{ macros.construction_card(assembly) }}
    {% endfor %}
</div>

{{ constr_title('Observations', url_for('construction.observation')) }}
<div class="d-flex flex-row flex-wrap border flex-wrap p-3 mx-3">
  {% if not part.observations %}
    <h3 class="m-auto text-muted">Nothing Uploaded!</h3>
  {% endif %}
  {% for observation in part.observations %}
    {% set file_ids = [] %}
    {% set filenames = [] %}
    {% for file in observation.files %}
        {% set file_ids = file_ids.append(file.id) or file_ids %}
        {% set filenames = filenames.append(file.filename) or filenames %}
    {% endfor %}

    <div class="card text-center w-50">
      <div class="card-header earth-green-bg">
        <div class="d-flex flex-row justify-content-between">
          <p class="cosmic-latte">{{filenames if filenames else "Image was not uploaded"}}</p>
        </div>
      </div>
      <div class="card-body">
        {% if observation.files %}
        <div id="carouselExampleIndicators{{observation.id}}" class="carousel slide" data-bs-ride="false">
          <div class="carousel-indicators">
            {% for file in observation.files %}
            {% if loop.index == 1 %}
            <button type="button" data-bs-target="#carouselExampleIndicators{{observation.id}}" data-bs-slide-to="{{ loop.index-1 }}" class="active" aria-current="true" aria-label="Slide {{ loop.index }}"></button>
            {% else %}
            <button type="button" data-bs-target="#carouselExampleIndicators{{observation.id}}" data-bs-slide-to="{{ loop.index-1 }}" aria-label="Slide {{ loop.index }}"></button>
            {% endif %}
            {% endfor %}
          </div>
          <div class="carousel-inner">
            {% for file in observation.files %}
            <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
              <img src="{{ url_for('main.get_file', file_ids=file.id) }}" class="d-block w-100" alt="...">
            </div>
            {% endfor %}
          </div>
          <button class="carousel-control-prev my-car-left" type="button" data-bs-target="#carouselExampleIndicators{{observation.id}}" data-bs-slide="prev">
            <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
            <span><i class="bi bi-chevron-left"></i></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next my-car-right" type="button" data-bs-target="#carouselExampleIndicators{{observation.id}}" data-bs-slide="next">
            <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
            <span><i class="bi bi-chevron-right"></i></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        {% else %}
        <p class="text-center">No Image</p>
        {% endif %} 
      </div>
      <div class="card-footer text-muted earth-green-bg">
        <p class="cosmic-latte">{{observation.comment}}</p>
      </div>
    </div>

  {% endfor %}
</div>

{% endblock%}