{% extends "base.html" %}


{% block content %}
    <link rel="stylesheet" type="text/css"
        href="{{ url_for('parts.static', filename='styles/register_components.css') }}">    
    

    <form action="" method="post" enctype="multipart/form-data">
        <div class="container">
            {{ form.hidden_tag() }}
            <h1 class="text-center">Register Component</h1>
            <button class="btn btn-earth btn-sm container-fluid" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Documentation for How to Upload Components
                <i class="bi bi-caret-down-fill"></i>
            </button>
            <div class="collapse mb-3" id="collapseExample">
                <div class="card card-body">
                    <ul>
                        Component upload is done via a csv or excel file with required columns defined here. The case is only strictly enforced for database required columns.
                        <li>
                            Database Required columns (CamelCase, enforced): <strong>SerialNumber,ComponentType,Vendor</strong>.
                        </li>
                        <li>
                            An admin can also set your own required columns in the (CamelCase, but however it is in the lookup table) <a href="{{ url_for('componenttype.index_view') }}" target="_blank">Component Type Lookup Table</a>.
                        </li>
                    </ul>
                    
                    <ul>
                        <strong>General Required Columns</strong>
                        <li><strong>SerialNumber</strong>: This should be a unique identifier for the component. If it exists already in the database it will be rejected</li>
                        <li>
                            <strong>ComponentType</strong>: Specifies a group of components. For example the "Throughput ETROC" is all the ETROCs for the Throughput demonstration. 
                            Admins of the site can make new component types
                        </li>
                        <li><strong>Vendor</strong>: The vendor that the component was shipped from. </li>
                        <li>
                            <strong>(If Subassembly) ETROCSerialNumber</strong>: <i>for registering bump bonded ETROC+LGAD subassemblies</i> allows you to associate an ETROC with the component that is being registered. 
                            Consequently, the component being registered is now the parent component of the ETROC given here.
                        </li>
                        <li>
                            <strong>(If Subassembly) LGADSerialNumber</strong>: <i>for registering bump bonded ETROC+LGAD subassemblies</i> allows you to associate an LGAD with the component that is being registered. 
                            Consequently, the component being registered is now the parent component of the LGAD given here.
                        </li>
                    </ul>
                    <ul>
                        <strong>CSV Templates for Component Registration</strong>
                        <li>
                            <a href="{{ url_for('main.download_template', filename='Prod_ETROC_Template_Registration.csv') }}">Download Production ETROC Template</a>
                        </li>
                        <li>
                            <a href="{{ url_for('main.download_template', filename='Prod_LGAD_Template_Registration.csv') }}">Download Production LGAD Template</a>
                        </li>
                        <li>
                            <a href="{{ url_for('main.download_template', filename='Prod_Module_PCB_Template_Registration.csv') }}">Download Production Module PCB Template</a>
                        </li>

                    </ul>
                    <ul>
                    <strong>Component Registration where subcomponents (LGAD and ETROC) are specifed</strong> These subcomponents SHOULD already exist in the database!
                        <li>
                            <a href="{{ url_for('main.download_template', filename='Prod_Subassembly_Template_Registration.csv') }}">Download Production Subassembly Template</a>
                        </li>
                    </ul>  
                    {#    
                    <ul>
                        <strong>Google Sheet Template</strong>
                        <li>
                            <a href=" https://docs.google.com/spreadsheets/d/1tMWUsEg308AmSHtzvUcGC_PKMEvjr0Q60WDz6ko3eow/edit?usp=sharing" target="_blank"> Other Templates in Google Sheets</a>
                        </li>
                    </ul>    
                    #}              
                </div>
            </div>
            <div class="download_template"></div>
            <div class="ComponentForm">
                <div class="form-group" style="flex-grow: 1;">
                    {{ form.hidden_tag() }}
                    {{ form.component_file.label}}
                    {{ form.component_file }}
                    {% for error in form.component_file.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                    <small class="form-text text-muted">Accepted file types: csv, ods, xlsx, and xls</small>
                </div>
                <div class="side-by-side-shipment">
                    <div class="form-group"> 
                        {{ form.origin.label }}
                        {{ form.origin }}
                        {% for error in form.origin.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.registration_date.label }}
                        {{ form.registration_date }}
                        {% for error in form.registration_date.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <hr>
            <div style="margin-right: 10px; margin-top: 10px;">{{ form.submit(class="w-10 btn btn-m btn-primary") }}</div>
        </div>
    </form>


<div id="output_div" class="container"></div>      

<script>
    $("#component_file").on('input', function(){
        $("#output_div").empty();
        const inputFileData = this.files[0];
        if (inputFileData!==undefined){
            const myFormData = new FormData();
            myFormData.append('file', inputFileData);
            $.ajax({
                url: "{{ url_for('parts.render_component_file') }}",
                type: 'POST',
                processData: false,
                contentType: false,
                dataType: 'json',
                data: myFormData,
                success: (result) => {
                    //Check if there are columns or that array is empty
                    if ((result.hasOwnProperty('columns') && $.isArray(result['columns']) && result['columns'].length === 0)){
                        $("#ajax-flashes").append(`
                            <div class="alert alert-danger alert-dismissible fade show" role="alert"> 
                                Failed to read file. More explicitely, the python library pandas failed to read the file.
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        `);
                    }
                    else {
                        const mygrid = new gridjs.Grid({
                            columns: result['columns'],
                            data: () => result['data'],
                            pagination: {
                                limit: 6
                            },
                            resizable: true,
                        }).render(output_div);

                        mygrid.forceRender();                        
                    }
                },
                error: (result) => {
                    var error = result?.responseJSON?.error;
                    if (error == 'Request Entity Too Large') {
                        var error_msg = "File too large, max file size is {{ max_content_length / (1024 * 1024) }} MB";
                    }
                    else {
                        var error_msg = error;
                    };
                    $("#ajax-flashes").append(`
                            <div class="alert alert-danger alert-dismissible fade show" role="alert"> 
                                ${error_msg}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        `);

                }
            })
        }

    });
</script>

{% endblock %}
