{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css"
href="{{ url_for('parts.static', filename='styles/prepare_modules.css') }}">


<div class="main-container">
    <h1 class="text-center"> Prepare Modules For Assembly!</h1>
    <h6 class="text-center">(Page 1: What Modules are you preparing?)</h3>
    <form action="" method="post" role="form">
        {{ preform.hidden_tag() }}
        <hr>
        <div class="container">

            <div class="row">
                <div class="col form-group">
                    {{ preform.module_type.label }}
                    {{ preform.module_type(list="module-types") }}
                    <datalist id="module-types">
                        {% for choices in preform.module_type.choices %}
                            <option value="{{ choices[1] }}">
                        {% endfor %}
                    </datalist>
                    {% for error in preform.module_type.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="col form-group">
                    {{ preform.assembly_location.label }}
                    {{ preform.assembly_location(list="assembly_locations") }}
                    <datalist id="assembly_locations">
                        {% for choices in preform.assembly_location.choices %}
                            <option value="{{ choices[1] }}">
                        {% endfor %}
                    </datalist>
                    <small class="text-muted">Where are the modules being assembled?</small>
                    {% for error in preform.assembly_location.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>                
            </div>

            <div class="row text-center n_mods">
                <div class="form-group" style="width:55%">
                    {{ preform.number_modules }}
                    {% for error in preform.number_modules.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div>
        </div>
        <hr>
        <div class="submit-btn">{{ preform.submit_pre(class="w-10 btn btn-m btn-primary") }}</div>
    </form>
</div>
<div class="main-container mt-4">
    <div id="output_div" class="container text-center"></div>
</div>



<!-- to do somehow add this to the master html file for flask admin -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    $('#module_type').on('input',get_serial_numbers)
    $('#assembly_location').on('input',get_serial_numbers)
    $('#number_modules').on('input',get_serial_numbers)

    //use python function by ajax request
    function get_serial_numbers(event){
        // put loading spinner here
        $.post('{{url_for("parts.gen_mod_sns")}}', {
            module_type: $('#module_type').val(),
            assembly_location: $('#assembly_location').val(),
            n_modules: $('#number_modules').val() //id same as form name
        }).done(function(response) {
            $("#output_div").empty()
            for(var i = 0; i < response.length; i++){
                var id_sn = "id_" + i; // Create id
                var part = `
                    <div id='`+id_sn+`' class="part">
                        `+response[i]+`
                    </div>
                `;
                
                $("#output_div").append(part); // Assumes 'output' is the id of your output div.
            } 
        }).fail(function(){
            $("#output_div").text("Error: Could not contact the server")
        })
    }
</script>

{% endblock %}