{% extends "base.html" %}


{% block content %}
    <link rel="stylesheet" type="text/css"
        href="{{ url_for('parts.static', filename='styles/remove_components.css') }}">    
    

    <form action="" method="post" enctype="multipart/form-data">
        <div class="container">
            {{ form.hidden_tag() }}
            <h1 class="text-center">Remove Components</h1>
            <button class="btn btn-earth btn-sm container-fluid" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Documentation for How to Remove Components
                <i class="bi bi-caret-down-fill"></i>
            </button>
            <div class="collapse mb-3" id="collapseExample">
                <div class="card card-body">
                  
                    Component removal is done via a csv or excel file, very similar to the component upload but all that is needed here is the <strong>SerialNumber</strong> column. 
                    If the component has been involved in any process (shipment, test, assembly or observation) it will need an admins approval for deletion.
                    
                    <ul>
                        <strong>About the Columns</strong>
                        <li><strong>SerialNumber</strong>: This should be a unique identifier for the component. If it exists already in the database it will be rejected</li>
                    </ul>
                    <ul>
                        <strong>CSV Templates for Component Registration</strong>
                        The columns other than serial number are not requried for deletion but can be inputted.
                        <li>
                            <a href="{{ url_for('main.download_template', filename='TP_ETROC_Template_Registration.csv') }}">Download Throughput ETROC Template</a>
                        </li>
                        <li>
                            <a href="{{ url_for('main.download_template', filename='TP_LGAD_Template_Registration.csv') }}">Download Throughput LGAD Template</a>
                        </li>
                        <li>
                            <a href="{{ url_for('main.download_template', filename='TP_Module_PCB_Template_Registration.csv') }}">Download Throughput Module PCB Template</a>
                        </li>
                    </ul>     
                    <ul>
                        <strong>Google Sheet Template</strong>
                        <li>
                            <a href=" https://docs.google.com/spreadsheets/d/1tMWUsEg308AmSHtzvUcGC_PKMEvjr0Q60WDz6ko3eow/edit?usp=sharing" target="_blank">Templates in Google Sheets</a>
                        </li>
                    </ul>                  
                </div>
            </div>

            <div class="download_template">

            </div>

            <div class="form-group">
                {{ form.hidden_tag() }}

                {{ form.component_file.label}}
                {{ form.component_file }}
                {% for error in form.component_file.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                <small class="form-text text-muted">Accepted file types: csv, xlsx, and xls</small>
            </div>
            {#
            <div class="form-group">
                {{ form.hidden_tag() }}

                {{ form.delete_data.label}}
                {{ form.delete_data }}
                {% for error in form.delete_data.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                <small class="text-muted">For admins only, does not delete if a part of a module or has a parent component. Will delete test, assembly and observation data though.</small>
            </div>
            #}
            <hr>
            <div style="margin-right: 10px; margin-top: 10px;">{{ form.submit(class="w-10 btn btn-m btn-primary") }}</div>
        </div>
    </form>


<div id="output_div" class="container"></div>

<script>
    $("#component_file").on('input', function(){
        $("#output_div").empty();
        const inputFileData = this.files[0];
        const myFormData = new FormData();
        myFormData.append('file', inputFileData);
        $.ajax({
            url: "{{ url_for('parts.render_component_file') }}",
            type: 'POST',
            processData: false,
            contentType: false,
            dataType: 'json',
            data: myFormData,
            success: (result) => {
                const mygrid = new gridjs.Grid({
                    columns: result['columns'],
                    data: () => result['data'],
                    pagination: {
                        limit: 6
                    },
                    resizable: true,
                }).render(output_div);

                mygrid.forceRender();
            },
            error: (result) => {
                    var error = result?.responseJSON?.error;
                    if (error == 'Request Entity Too Large') {
                        var error_msg = "File too large, max file size is {{ max_content_length / (1024 * 1024) }} MB";
                    }
                    else {
                        var error_msg = error;
                    };
                    $("#ajax-flashes").append(`
                            <div class="alert alert-danger alert-dismissible fade show" role="alert"> 
                                ${error_msg}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        `);

                }
        })
    });



</script>
{% endblock %}
