{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" type="text/css"
      href="{{ url_for('auth.static', filename='styles/update_profile.css') }}">

<form action="", method="post">
    {{ form.hidden_tag() }}
    <div class="container update-form">
        <h1 class="text-center">Update Profile</h1>
        <div class="row">
            <div class="col form-group">
                {{ form.email.label }}
                {{ form.email(size=32) }}
                {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col form-group">
                {{ form.site.label }}
                {{ form.site() }}
                {% for error in form.site.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>            
        </div>

        <hr>
        <div style="margin-right: 10px;">{{ form.submit(class="w-10 btn btn-m btn-primary") }}</div>
    </div>
</form>
{% endblock %}