#prepped-mods {
    margin-left: 10px;
}

.ModuleContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.Module {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-basis: 250px;

    margin: 8px;
    padding: 0px;
    background-color: #37a259;
    border-radius: 4px;
    border-top-right-radius: 15px;
}

.chip-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 5px;
}
.chip-box {
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .chip-row {
    display: flex;
    flex-direction: row;

} */

.chip {
    height:0;
    width:100%;
    padding-top: 50%;
    padding-bottom: 50%;
    margin-bottom: 10px;
}

.OtherModuleType {
    margin: 8px;
    padding: 5px;
    max-width: 200px;
    background-color: rgb(235, 218, 255);
}

.custom-list {
    list-style-type: none;
    padding: 0px;
}