
.info-text {
    padding-left: 15px;
    font-size: 20px;
}

.rounded-btn {
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 50%;  
    display: flex;       
    align-items: center; 
    justify-content: center;
}