#prepped-mods {
    margin-left: 10px;
}

.side-by-side-timeline {
    display: flex;
    align-content: center;
}

#ComponentContainer {
    margin-right: 20px;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
}

#StandardModule {
    margin: 8px;
    padding: 0px;
    background-color: #37a259;
    border-radius: 4px;
    border-top-right-radius: 15px;
    flex: 0 0 250px; /* flex-grow flex-shrink flex-basis */
}

.CompPos {
    font-size: 15px;
    font-weight: 500;
    color: rgb(0, 0, 0);
}

.chip {
    padding-bottom: 100%; 
    position: relative; 
    background-color: white;
    border-radius: 3%;
    flex-shrink: 0;
    flex-grow: 0;
 }
 .chip:hover {
    background-color: #e9e7ff;
    box-shadow: 0 0 10px 0 rgba(74, 86, 255, 0.781);
 }

 .ModPCB {
    width: 100%;
    background-color: #cad6ce;
    border-radius: 5%;
 }
 
 .CompText {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 13px;
 }

.OtherModuleType {
    margin: 8px;
    padding: 5px;
    max-width: 200px;
    background-color: rgb(235, 218, 255);
}

.custom-list {
    list-style-type: none;
    padding: 0px;
}

#ModuleV0 {
    background-color: #37a259;
}