.my-car-left span i,
.my-car-right span i {
    color: #2f6a69; /* Change color code to your preferred color */
    font-size: 1.5rem; /* Optional: Adjust the size if needed */

    background-color: #FFF8E7;
    border: 2px solid #2f6a69; /* Change this to your desired border color */
    padding: 2px; /* Adjust padding to ensure border visibility */
    border-radius: 50%; /* Optional: Make the border rounded */
}

.carousel-dark .carousel-indicators [data-bs-target], .carousel-indicators [data-bs-target] {
    background-color: #2f6a69;
    border: 2px solid #FFF8E7;
  }