.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#output_div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
}


.part {
    background-color: #37a259;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 125px;
    color:#FFF8E7;
}

.n_mods {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 8px;
}

label {
    display: flex;
    align-items: center;
}

.submit-btn{
    display: flex;
    justify-content: end;
}