#number_modules{
    width: 10%;
}

#output_div {
    margin-top: 15px;
}

.ComponentForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    flex-wrap:wrap;
}

.side-by-side {
    display: flex;
    flex-direction: row;
    gap: 20px;

    margin-top: 5px;
    margin-bottom: 5px;
    justify-content: start;
    align-content: center;
}

.side-by-side-shipment {
    display: flex;
    flex-direction: row;
    gap: 5px;

    justify-content: space-evenly;
    align-content: start;
    flex-wrap: wrap;
    flex-grow: 0;
}

