#number_modules{
    width: 10%;
}

#output_div {
    margin-top: 15px;
}

.btn-earth {
    background-color: #ae2a2ae3;
    color:#FFF8E7;
    font-size: 18px;
    width: 100%;
}
.btn-earth:hover {
    color:#FFF8E7;
    background-color: #652424;
}

.side-by-side {
    display: flex;
    flex-direction: row;
    gap: 20px;

    margin-top: 5px;
    margin-bottom: 5px;
    justify-content: start;
    align-content: center;
}
