{% extends 'admin/master.html' %}

{% block body %}
    {{ super() }}

<div class="text-center container">
    <h3>This button will download a json file of all the lookup tables</h3>
    <p>
        This file is can be and will be used for the inialization of a fresh db. 
        During the staging process, all the lookup tables will be iterated upon til they no longer change. 
        This file can be used as a seed for the db, so they can be initialized after db wipes.
    </p>
</div>

<form action="" , method="post">
    {{ form.hidden_tag() }}
    <div class="container-fluid">{{ form.submit(class="container-fluid btn btn-m btn-primary") }}</div>
</form>

{% endblock %}