{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" type= "text/css" href="{{ url_for('shipments.static', filename='styles/shipment.css') }}">


<div class="container">
    {% if make_shipment%}
        <h3 class="text-center">Make Shipment</h3>
    {% else %}
        <h3 class="text-center">Verify Shipment</h3>
    {% endif %}
</div>

<form action="" method="POST" role="form">
    {{ form.hidden_tag() }}
    <div class="container shipment-form">
        <div id="row">
            <div class="col location-area">
                {# form.origin.label #}
                <div class="col input-group">
                    <input id="origin-search" type="text" class="form-control" placeholder="Search for more parts" aria-label="Origin Search">
                    <span class="input-group-text">@</span>
                    {{ form.origin(id="origin") }}
                    {% for error in form.origin.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div id="origin-part-area" class="row overflow-auto part-area">
                    <div class="col"> 
                        <p class="ps-2 mt-2">Components  <button id="component-select-all-btn" type="button" class="btn btn-outline-secondary btn-sm">Select All</button></p>
                        <div id="origin-components" class="col"></div>
                        <div class="origin-spinner text-center">
                            <div class="spinner-border" role="status">
                              <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                    </div>
                    <div class="col"> 
                        <p class="ps-2 mt-2">Modules <button id="module-select-all-btn" type="button" class="btn btn-outline-secondary btn-sm">Select All</button> </p> 
                        <div id="origin-modules" class="col"></div>
                        <div class="origin-spinner text-center">
                            <div class="spinner-border" role="status">
                              <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                    </div>                      
                </div> 
                <div class="col">
                    <div class="text-muted text-end pe-2">Shows only first 300 results, search needed for more</div>
                </div>     
            </div>
            <div class="col">
                <div class="row justify-content-center">
                    <div class="col text-center">
                        <button id="bring-to-destination" class="part-move-btn" type="button" style="background-color: #34A853;"> 
                            <i class="bi bi-arrow-down-short"></i>
                        </button>                        
                    </div>
                    <div class="col text-center">
                        <button id="bring-to-origin" class="part-move-btn" type="button" style="background-color: #EA4335;"> 
                            <i class="bi bi-arrow-up-short"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col location-area">
                <div class="col form-group">
                    {# form.destination.label #}
                    {{ form.destination }}
                    {% for error in form.destination.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="row part-area overflow-auto">
                    <div class="col"> 
                        <p class="ps-2">Components </p> 
                        <div id="destination-components" class="col"></div>
                    </div>
                    <div class="col"> 
                        <p class="ps-2">Modules </p> 
                        <div id="destination-modules" class="col"></div>
                    </div>                     
                </div>
                <div class="row">
                    <div class="col form-group align-self-end">
                        {{ form.shipment_date.label(class="ps-2") }}
                        {{ form.shipment_date }}
                        {% for error in form.shipment_date.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>   
                    {% if not make_shipment %}
                        {# only do this if it is verify shipment#}
                        <div class="col form-group align-self-end">
                            {{ form.reception_date.label }}
                            {{ form.reception_date }}
                            {% for error in form.reception_date.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                    {% endif %}                 
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-1">
            <div class="col-md-4 form-group">
                {{ form.shipment_method.label }}
                {{ form.shipment_method }}
                {% for error in form.shipment_method.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="col-md-4 form-group">
                {{ form.tracking_number.label }}
                {{ form.tracking_number }}
                {% for error in form.tracking_number.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="w-100 d-md-none"></div>
            <div class="col-4 col-md-2 form-group align-self-center">
                {{ form.check_parts.label()}}
                {{ form.check_parts() }}
                {% for error in form.check_parts.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="col-4 col-md-1 form-group align-self-center">
                {{ form.submit(class="w-10 btn btn-m btn-primary") }}
            </div>
        </div>
    </div>
    {{ form.destination_components_field }}
    {% for error in form.destination_components_field.errors %}
        <span style="color: red;">[{{ error }}]</span>
    {% endfor %}

    {{ form.destination_modules_field }}
    {% for error in form.destination_modules_field.errors %}
        <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
</form> 

<!-- Seems like a nice guy: https://benalman.com/about/ -->
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
<script>
    function isEmpty(obj) {
        //https://stackoverflow.com/questions/679915/how-do-i-test-for-an-empty-javascript-object
        for (var prop in obj) {
            if (Object.prototype.hasOwnProperty.call(obj, prop)) {
            return false;
            }
        }

        return true
    }
    function make_part(serial_number, message=null, icon=null) {
        if (message && icon) {
            return `
                <div class="container" id='${serial_number}'>
                    <div class="row">
                        <div class="col-sm-10 d-flex flex-row align-items-center">
                            <button class="part" type="button" disabled>
                                <div class="form-check d-inline-block align-content-center">
                                    <label class="form-check-label form-check-label-sm" for="${"PartCheckBox" + serial_number}">${serial_number}</label>
                                    <input class="form-check-input" type="checkbox" value="" id="${"PartCheckBox" + serial_number}" disabled>
                                </div>
                            </button>
                            <button type="button" class="btn rounded-btn base-popover m-0 p-0" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-trigger="focus" data-bs-content="${message}">
                                ${icon}
                            </button>
                        </div>
                    </div>
                </div>`;
        }
        else {
            return `
                <div class="container" id='${serial_number}'>
                    <div class="row">
                        <div class="col-sm-10">
                            <button class="part" type="button">
                                <div class="form-check d-inline-block align-content-center">
                                    <label class="form-check-label form-check-label-sm" for="${"PartCheckBox" + serial_number}">${serial_number}</label>
                                    <input class="form-check-input" type="checkbox" value="" id="${"PartCheckBox" + serial_number}">
                                </div>
                            </button>
                        </div>
                    </div>
                </div>`;
        }
    }

    function get_parts_in_destination(part_area_id) {
        var parts = [];
        $(part_area_id + " > div").each((index, elem) => {
            if (elem.className != "empty_part"){
                parts.push(elem.id);
            }
        });
        return parts;
    }

    function add_empty_part(load_to){
        let empty_part = `<div class="empty_part"> No parts found </div>`;
        $(load_to).append(empty_part);
    }

    function addOriginParts(load_to, destination_id, tablename, search, location) {
        return $.ajax({
            url: "{{ url_for('shipments.parts_search')}}",
            type: "GET",
            dataType: "json",
            data: {
                "tablename": tablename,
                "search": search,
                "location": location
            },
            beforeSend: function() {
                $(load_to).hide();
                $(".origin-spinner").show();
            },
            complete: function() {
                $(".origin-spinner").hide();
                $(load_to).show();
            },
            success: function(response) {
                $(load_to).empty()
                if (isEmpty(response) && $(load_to).is(":empty")){
                    //adds empty message if there is no parts
                    add_empty_part(load_to)
                    return
                }
                else {
                    parts_at_destination = get_parts_in_destination(destination_id);
                    for (const serial_number of response) {
                        if ($.inArray(serial_number, parts_at_destination) == -1){
                            $(load_to).append( make_part(serial_number) );
                        }
                        else if ($(load_to).is(":empty")) {
                            add_empty_part(load_to);
                        }
                    };
                }
            },
            error: function(error) {
                $("#ajax-flashes").append(
                    `<div class="alert alert-danger alert-dismissible fade show" role="alert"> 
                        ${error.responseJSON.message}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>`
                );
            }
        });
    }

    function get_checked_parts(parent_div_id) {
        var selected_ids = [];
        $(parent_div_id+' input:checked').each(function() {
            // I am so sorry, gotta get the whole encompassing div though and get the id...
            selected_ids.push($(this).parent().parent().parent().parent().parent().attr('id')); 
        });
        return selected_ids;
    };
    function move_parts(starting_div, ending_div){
        const destination_ids = get_checked_parts(starting_div);
        if ($(ending_div).find('.empty_part').length && destination_ids.length > 0) {
            //empty the load if it has empty part
            $(ending_div).empty();
        }
        destination_ids.forEach((part_id) => {
            if (ending_div.includes("destination")) {
                $('#'+part_id).prependTo(ending_div); // could make this append or prepend depending how ergonimic it is
            } else {
                $('#'+part_id).prependTo(ending_div);
            }
        });
    }

    $(".origin-spinner").hide()
    $(".destination-spinner").hide()
    $("#origin-search").prop('disabled', true)
    $(document).on('click', '.part', function() {
        const checkbox = $("#PartCheckBox" + $(this).parent().parent().parent().id);
        checkbox.prop('checked', !checkbox.prop('checked'));
    });


    function add_searched_origin_parts(){
        addOriginParts(
            "#origin-components",
            "#destination-components",
            "component", 
            $("#origin-search").val(), 
            $("#origin").val()
        );
        addOriginParts(
            "#origin-modules",
            "#destination-modules",
            "module", 
            $("#origin-search").val(), 
            $("#origin").val()
        );
    }
    $("#origin-search").on('input', _.debounce(add_searched_origin_parts, 1500, { 
        'leading': false, 
        'trailing': true 
    }));

    $("#bring-to-destination").on("click", function(){
        move_parts("#origin-modules", "#destination-modules");
        move_parts("#origin-components", "#destination-components");
    });
    $("#bring-to-origin").on("click", function(){
        move_parts("#destination-modules", "#origin-modules");
        move_parts("#destination-components","#origin-components");       
    });

    $("#component-select-all-btn").on("click", function(){
        $("#origin-components input").prop('checked', !$("#origin-components input").prop('checked'));
    });
    $("#module-select-all-btn").on("click", function(){
        $("#origin-modules input").prop('checked', !$("#origin-modules input").prop('checked'));
    });

    function submit_parts(part_type){
        if (part_type==="modules"){
            destination_parts = "#destination-modules";
            destination_parts_field = "#destination_modules_field"

        }
        else if (part_type==="components"){
            destination_parts = "#destination-components";
            destination_parts_field = "#destination_components_field";
        }

        submitted_ids = get_parts_in_destination(destination_parts);
        
        $(destination_parts_field).empty();
        //add to the hidden field the stuff in the div
        $(destination_parts_field).val(submitted_ids);
    }
    $("#submit").on("click", function(){
        submit_parts("modules");
        submit_parts("components");
    })

</script>

{% if make_shipment %}
<script>
    $(document).ready(function() {
        $("#origin").on('change', function() {
            // Disable or Enable search based on origin selection
            if ($("#origin").val() === "") {
                $("#origin-search").prop('disabled', true)
                $("#origin-search").val("")
            }
            else {
                $("#origin-search").prop('disabled', false)
            }

            console.log("Adding origin parts!")
            // should just be location information
            $("#destination-modules").empty();
            $("#destination-components").empty();
            addOriginParts(
                "#origin-components",
                "#destination-components",
                "component", 
                $("#origin-search").val(), 
                $("#origin").val()
            );
            addOriginParts(
                "#origin-modules",
                "#destination-modules",
                "module", 
                $("#origin-search").val(), 
                $("#origin").val()
            );
        });

        // Trigger change event on page load
        $("#origin").trigger('change');
    });


</script>
{% else %}
<script>
    function add_destination_parts(parts, load_to){
        let part;
        let message;
        if (isEmpty(parts)){
            //adds empty message if there is no parts
            add_empty_part(load_to);
            return
        }
        for (const id_sn of Object.keys(parts || {})){
            if (parts[id_sn]["already_new_part"]==true && parts[id_sn]["already_shipped"] == true){
                message = "DISABLED - This part has been assembled into a subassembly or module AND has been part of a shipment. You will have to undo its shipments and dissassociate it from it's parent subassembly or module."
                part = make_part(
                    id_sn, 
                    message, 
                    `<i class="bi bi-patch-question-fill" style="color: #2f6a69"></i>`
                );
            }
            else if (parts[id_sn]["already_shipped"] == true){
                message = "DISABLED - PART OF NEW SHIPMENT: This part has been already shipped, so it cannot be moved."
                part = make_part(
                    id_sn,
                    message, 
                    `<i class="bi bi-question-square" style="color: #2f6a69"></i>`
                );
            }
            else if (parts[id_sn]["already_new_part"]==true){
                message = "DISABLED - ASSEMBLED INTO NEW PART: To move back this part, kindly disassociate it from it's parent subassembly or module." 
                part = make_part(
                    id_sn, 
                    message, 
                    `<i class="bi bi-question-octagon-fill" style="color: #2f6a69"></i>`
                );
            }
            else {
                part = make_part(id_sn);  
            }
            $(load_to).append(part); 
            $('[data-bs-toggle="popover"]').popover();
        }
    }

    $.ajax({
        url: "{{ url_for('shipments.parts_from_shipment') }}",
        type: "POST",
        //contentType: "application/json",
        data: "{{shipment_id}}",
        dataType: "json",
        beforeSend: function() {
            $("#destination-modules").hide();
            $("#destination-components").hide();
            $(".destination-spinner").show();
        },
        complete: function() {
            $(".destination-spinner").hide();
            $("#destination-modules").show();
            $("#destination-components").show();
        },
        success: function(shipment_parts){
            add_destination_parts(shipment_parts["components"], "#destination-components");
            add_destination_parts(shipment_parts["modules"], "#destination-modules");

            addOriginParts(
                "#origin-components",
                "#destination-components",
                "component",
                $("#origin-search").val(),
                $("#origin").val()
            );
            addOriginParts(
                "#origin-modules",
                "#destination-modules",
                "module",
                $("#origin-search").val(),
                $("#origin").val()
            );
        },
        error: function(error) {
                $("#ajax-flashes").append(
                    `<div class="alert alert-danger alert-dismissible fade show" role="alert"> 
                        ${error.responseJSON.message}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>`
                );
            }
    });
</script>
{% endif %}


{% endblock %}