{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type= "text/css" href="{{ url_for('tables.static', filename='styles/tables.css') }}">
<link rel="stylesheet" type= "text/css" href="{{ url_for('parts.static', filename='styles/module_table.css') }}">
<script src="{{ url_for('tables.static', filename='js/table.js') }}"></script>

<h1 class="ms-2 mb-0">Components Inventory</h1>
<p class="ms-2 mb-0"> All the parts that will be used to construct Modules and Super-Modules: Module PCBs, ETROCs, LGADs, ETROC+LGAD Subassemblies and Readout Boards.</p>

<!-- html for viewing table -->
<div id="grid-table" class="ms-3 me-3"></div>

<script>
    console.log(JSON.stringify($("#test-tabler")));
    const editableCellAttributes = (data, row, col) => {
        if (row) {
            return {contentEditable: 'true', 'data-element-id': row.cells[0].data};
        }
        else {
            return {};
        }
    };
    const cellClickRedirect = (cell, row, column) => {
        if (cell) {
            return {
                'style': 'cursor: pointer',
                'onclick': function(event) {
                    window.location.href = `/parts/component/${row.cells[2].data}`;
                }
            }
        }
    };

    // const metadata_formatter = (cell, row) => {
    //     const metadata = JSON.parse(cell);
    //     let table = `
    //     <table class="table-secondary">

    //     <tbody>`;
    //     let index = 1;
    //     for (const key in metadata) {
    //         if (metadata.hasOwnProperty(key)) {
    //             table += `
    //         <tr>
    //         <th scope="row">${index}</th>
    //         <td>${key}</td>
    //         <td>${metadata[key]}</td>
    //         </tr>`;
    //             index++;
    //         }
    //     }
    //     table += `
    //         </tbody>
    //     </table>`;
    //     return gridjs.h('div', {
    //         onClick: () => alert('Edit Metadata')
    //     }, gridjs.html(table));
    // }

    var not_allowed_color = '#FFE3E3';
    var pointer_color = '#D4EAFF';
    
    columns = [
        { id: 'id',               name: 'ID',               'attributes': cellClickRedirect},
        { id: 'username',         name: 'Username',         'attributes': cellClickRedirect},
        { id: 'component_sn',     name:  'Serial Number',   'attributes': cellClickRedirect},
        { id: 'component_type',   name: 'Component Type',   'attributes': cellClickRedirect},
        { id: 'parent_sn',        name: 'Parent Component', 'attributes': cellClickRedirect},
        { id: 'subcomponents',    name: 'Subcomponents',    'attributes': cellClickRedirect},
        { id: 'module_sn',        name: 'Module',           'attributes': cellClickRedirect},
        { id: 'current_location', name: 'Location',         'attributes': cellClickRedirect},
        { id: 'meta_data',        name: 'Metadata',         'attributes': editableCellAttributes},
        { id: 'created_at',       name: 'Created At',       'attributes': cellClickRedirect},
    ]

    let search_keywords = ['MOD', 'COMP', 'LOC', 'COMPTYPE', 'DEPRECATED', 'ID', 'METADATA', 'ASSEMBLY_EXISTS', 'TEST_EXISTS']

    const table = Table(
        'grid-table',
        columns, 
        "{{ url_for('tables.table_data', db_tablename=db_tablename) }}",
        "{{ url_for('tables.depricate', db_tablename=db_tablename) }}",
        1000,
        search_keywords
    )

    let savedValue;

    $("#grid-table").on('focusin', ev => {
        if (ev.target.tagName === 'TD') {
            savedValue = ev.target.textContent;
        }
    });

    $("#grid-table").on('focusout', ev => {
        if (ev.target.tagName === 'TD') {
            if (savedValue !== ev.target.textContent) {
                $.ajax({
                    url: "{{ url_for('tables.update', db_tablename=db_tablename) }}",
                    type: 'POST',
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    data: JSON.stringify({
                        id: ev.target.dataset.elementId,
                        [ev.target.dataset.columnId]: ev.target.textContent
                    }),
                    success: (result) => {
                        $("#ajax-flashes").append(`
                            <div class="alert alert-success alert-dismissible fade show" role="alert"> 
                                "Successfully updated!"
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        `);
                    },
                    error: (result) => {
                        var error = result?.responseJSON?.message;
                        $("#ajax-flashes").append(`
                            <div class="alert alert-danger alert-dismissible fade show" role="alert"> 
                                ${error}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        `);
                    }
                });
            }
            savedValue = undefined;
        }
    });

    $("#grid-table").on('keydown', ev => {
    if (ev.target.tagName === 'TD') {
        if (ev.key === 'Escape') {
        ev.target.textContent = savedValue;
        ev.target.blur();
        }
        else if (ev.key === 'Enter') {
        ev.preventDefault();
        ev.target.blur();
        }
    }
    });

</script>


{% endblock %}