{% extends "base.html" %}
{% block content %}
<link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
<link rel="stylesheet" type= "text/css" href="{{ url_for('tables.static', filename='styles/tables.css') }}">
<script src="{{ url_for('tables.static', filename='js/table.js') }}"></script>

<h1 class="text-center">{% if constr_table == 'test'%}Tests{%else%}Assemblies{%endif%}</h1>
<!-- html for viewing table -->
<div id="table" class="ms-3 me-3"></div>

<script>
    columns = [
            { id: 'id', name: "ID"},
            { id: 'username', name: 'Username'},
            { id: 'module_type', name: 'Module Type'},
            { id: 'module_sn', name:  'Module SN'},
            { id: 'component_type', name: 'Component Type'},
            { id: 'component_sn', name: 'Component SN'},
            { id: 'component_pos', name: 'Component Pos'},
            { id: 'type', name: 'Type of table'},
            { id: 'location', name: 'Location'},
            { id: 'measurement_date', name: 'Measurement Date'},
        ]

    let search_keywords = [
        'ID','MOD','COMP', 
        '{% if constr_table == "assembly" %}ASSEMBLY{% elif constr_table == "test" %}TEST{%endif%}', 
        'DEPRECATED', 'DATA']

    const table = Table(
        'table',
        columns, 
        "{{ url_for('tables.table_data', db_tablename=constr_table) }}",
        "{{ url_for('tables.depricate', db_tablename=constr_table) }}",
        1000,
        search_keywords
    )
    table.on('rowClick', (...args) => window.location.href = "/construction/{{constr_table}}/" + JSON.stringify(args[1]["_cells"][0]["data"]));

</script>

{% endblock %}
