{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type= "text/css" href="{{ url_for('tables.static', filename='styles/tables.css') }}">
<link rel="stylesheet" type= "text/css" href="{{ url_for('parts.static', filename='styles/module_table.css') }}">
<script src="{{ url_for('tables.static', filename='js/table.js') }}"></script>

<h1>Module Summary</h1>
<h3>Select Module</h3>

<!-- html for viewing table -->
<div id="grid-table" class="ms-3 me-3"></div>

<script>
    columns = [
        { id: 'id', name: "ID"},
        { id: 'username', name: 'Username'},
        { id: 'module_sn', name:  'Module Serial Number'},
        { id: 'module_type', name: 'Module Type'},
        { id: 'current_location', name: 'Current Location'},
        { id: 'assembly_location', name: 'Assembly Location'},
        { id: 'created_at', name: 'Created At'},
    ];
    let search_keywords = ['ID','MOD', 'LOC', 'COMP', 'MODTYPE', 'DEPRECATED', 'ASSEMBLY_LOC','ASSEMBLY_EXISTS', 'TEST_EXISTS']

    const table = Table(
        'grid-table',
        columns, 
        "{{ url_for('tables.table_data', db_tablename=db_tablename) }}",
        "{{ url_for('tables.depricate', db_tablename=db_tablename) }}",
        1000,
        search_keywords
    ).render(document.getElementById('grid-table'));
    table.on('rowClick', (...args) => window.location.href = "/parts/module/" + JSON.stringify(args[1]["_cells"][2]["data"]).slice(1,-1));
</script>


{% endblock %}