{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type= "text/css" href="{{ url_for('tables.static', filename='styles/tables.css') }}">
<script src="{{ url_for('tables.static', filename='js/table.js') }}"></script>

<div class="shipment-page">
    <h1>View Shipments</h1>
    <small class="text-muted">Clear the search bar to see all the shipments. To mark a shipment as received and/or edit/verify it, click on the row. </small>
</div>
<div id="grid-table" class="ms-3 me-3"></div>

<script>
    columns = [
        { id: 'id', name: 'Shipment Number'},
        { id: 'username', name: 'Username'},
        { id: 'origin', name: 'Origin'},
        { id: 'destination', name: 'Destination'},
        { id: 'shipment_date', name: 'Shipment Date'},
        { id: 'reception_date', name: 'Reception Date'},
        { id: 'parts', name: 'Parts', formatter: (cell) => {
            return gridjs.html(cell)
            }
        },
        { id: 'tracking_number', name: 'Tracking Number'},
        { id: 'is_recieved', name: 'Is Received'},
    ];

    let search_keywords = [
        'ID','ORIGIN', 'DEST', 'TRACKNUM', 'TRANSIT', 'MOD', 'MODTYPE', 'COMP', 'COMPTYPE', 'DEPRECATED', 'TRANSIT'
    ]
                       
    const table = Table(
        'grid-table',
        columns, 
        "{{ url_for('tables.table_data', db_tablename=db_tablename) }}",
        "{{ url_for('tables.depricate', db_tablename=db_tablename) }}",
        1000,
        search_keywords
    );
    table.on('rowClick', (...args) => window.location.href = "/shipments/verify-shipment/" + JSON.stringify(args[1]["_cells"][0]["data"]));
</script>

{% endblock %}