
.navbar-green{
    margin-bottom: 20px; 
    background: #2f6a69;
}

.navbar-brand{
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif, monospace;
    font-size: 18px !important;
}

.nav-item {
    font-size: 16px;
}

.earth-green {
    color: #2f6a69;
}

.earth-green-bg {
    background-color: #2f6a69 !important;
}
.cosmic-latte {
    color: #FFF8E7;
}

.cosmic-latte-bg {
    background-color: #FFF8E7;
}

.btn-earth {
    background-color: #367a79 !important;
    color:#FFF8E7 !important;
    font-size: 18px;
    width: 100%;
}
.btn-earth:hover {
    color:#FFF8E7 !important; /* important to override gridjs styyles*/
    background-color: #235050 !important;
}

.offcanvas-size-xl {
    --bs-offcanvas-width: min(95vw, 600px) !important;
}

.base_constr_display_example {
    height: 200px;
    width: 100px;
    overflow: scroll;
}

body {
    font-family: "Google Sans",Roboto,Arial,Helvetica,sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin:0;
}

.main-etl-construction {
    border: 1px solid #FFF8E7; 
    padding: 0px 5px 0px 8px;
}

.flashes {
    padding: 0px;
    margin: 10px;
}

.footer_container {
    background-color: #2f6a69;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    margin-top: 20px;
}

.left_footer_group {
    flex-shrink: .8;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
}

.footer-sites {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
}
.footer-links {
    margin-right: 8px;
    margin-left: 4px;
    color: #FFF8E7;
}

.right_footer_group {
    padding-right: 7px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-items: center;
    flex-shrink: .8;
}
.footer-email {
    font-size: 14px;
    margin-right: 8px;
    color: #FFF8E7;
}

article {
    flex:1;
}
