
hr {
    margin-top: 4px;
    margin-bottom: 4px;
}

.site-title {
    margin-bottom: 8px;
}

.container-sidebar {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-left: 8px;
    align-items: start;
    flex-wrap: nowrap;
}

@media screen and (max-width: 400px) {
    .container-sidebar {
      flex-wrap: wrap;
    }
  }

#site-overview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px;

    flex-basis: 38%; 
    flex-shrink: 0;
    flex-grow: 1; 
    /* flex: 1 0 38%; */
    background-color: #a4a4a452;
    border-radius: 4px;
    margin-right: 5px;
}

.group-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    overflow: scroll;
    width: 100%;
    max-width: 100%;
    gap: 20px;
}

.work_group{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.work-flow {
    writing-mode: vertical-lr;
    transform: scale(-1);
    margin-top: 15px;
    margin-left: 5px;
    align-self: start;
    flex-grow: 0;
    font-weight: 500;
    font-size: 25px;
    letter-spacing: 3px;
    color: #2f6a69;
    align-self: center;
}

.side-by-side {
    display: flex;
    flex-direction: row;
    gap: 0px;    
    justify-content: start;
    flex-basis:content;
    padding: 10px;
    /* flex-shrink: 1; */
    flex-grow: 1;
    /* margin: 0 auto; */
    /* margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 10px;

    flex-wrap: nowrap;
    overflow-x: scroll !important;
    flex: 1 0 80vmax;  */
    
}
/* not standard and could break... firefox seems to handle it ok without it */
div::-webkit-scrollbar { 
    -webkit-appearance: none;
    width: 7px;
  }
div::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #898989;
}
.n_card_group {
    margin-top: 0px;
    margin-bottom: 0px;
}
.title{
    padding-left: 0px;
    margin-top: 0px;
    font-size: 18px;
    white-space: nowrap;
}
.card_container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 5px;
    gap: 5px;
    flex-wrap: nowrap;
    background-color: #FFF8E7; 
    box-shadow: 5px 5px 5px 5px #FFF8E7;
}

.card-body {
    padding: 8px;
}

.card {
    width: 175px;
    aspect-ratio: 1/1;
}



.info-text {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}

.sub-title-text {
    font-size: 16px;
    margin: 0px;
}

.card-title {
    font-size: 15px;
}
.card-text {
    font-size: 13px;
}

.btn-earth {
    background-color: #367a79;
    color:#FFF8E7;
    font-size: 11px;
    width: 100%;
}
.btn-earth:hover {
    color:#FFF8E7;
    background-color: #235050;
    /* filter: brightness(80%); */
}


.card-footer {
    text-align: center;
}

.col {
    text-align: justify;
    text-justify: inter-word;
}


.blockquote-footer {
    margin: 0;
}

.main-parts{
    padding: 0px;
}
.main-parts li{
    margin: 10px;
}

.overview-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
.col-left {
    margin-right: 15px;
}
.col-right {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

