{% macro construction_card(constr) %}
    <style>
        .test-bd-color {
            border-color: rgb(201, 226, 255);
        }
        .test-bg-color{
            background-color: rgb(201, 226, 255);
        }
        .assembly-bg-color {
            background-color: rgb(255, 226, 183); 
        }
        .assembly-bd-color {
            border-color: rgb(255, 226, 183);
        }
    </style>
    {% set table = constr.__tablename__%}
    <a class="d-inline text-decoration-none" href="{{ url_for('construction.view_construction', constr_table=table, constr_id=constr.id) }}">  
        <div class="card  {{table}}-bd-color d-flex flex-row align-items-center justify-content-start" style="width:fit-content; height: 50px;">
        <div class="d-flex align-items-center justify-content-center {{table}}-bd-color {{table}}-bg-color" style="width: 50px; height: 100%; border-radius: 0 0 0 3px;">
            <h5 class="m-0">{{ constr.id }}</h5>
        </div>
        <div class="col-md-9 align-self-center ps-1 pe-1">
            <div class="card-body p-0">
                <h6 class="card-title m-0 text-nowrap">{{ constr.type }}</h6>
            </div>
        </div>
        </div>
    </a> 
{% endmacro %}

{% macro render_comp_name(comp_pos, comp_sn) %}
    <label class="CompPos"> {{comp_pos}} </label>
    {% if comp_sn %}
    <a href="{{url_for('parts.part_summary', part_table='component', part_sn=comp_sn)}}">
    {% endif %}
        {% if comp_pos == 0 %}
        <div class="ModPCB">
            {{comp_sn}}
        </div>
        {% else %}
        <div class="chip">
            <div class="CompText">
                {{comp_sn}}
            </div>
        </div>
        {% endif %}
    {% if comp_sn %}
    </a>
    {% endif %}
{% endmacro%}


{% macro module_display(module) %}
    <link rel="stylesheet" type="text/css"
        href="{{ url_for('parts.static', filename='styles/module_display.css') }}">
    {% set comp_dict = {} %}
    {% for comp in module.components %}
        {% set comp_dict = comp_dict.update({comp.component_pos: comp}) or comp_dict %}
    {% endfor %}
    {% if module.module_type.number_of_components == 5 %}
        <div id="StandardModule" class="container shadow-lg p-3">
            <label class="container text-center">{{mod_sn}}</label>
            <div class="container">
                {% set positions = [4, 3, 2, 1, 0] %}
                <div class="row mt-3">
                    {% for pos in positions %}
                        {% if pos == 0 %}
                            </div><div class="row mt-2">
                            <div class="col-sm" align="center">
                                {{ render_comp_name(pos, comp_dict[pos].serial_number if pos in comp_dict else '' ) }}
                            </div>
                        {% else %}
                            <div class="col-sm" align="center">
                                {{ render_comp_name(pos, comp_dict[pos].serial_number if pos in comp_dict else '' ) }}
                            </div>
                        {% endif %}
                        {% if loop.index % 2 == 0 and pos != 1 %} {# Needs to be one so it the pos == 0 closes the div instead otherwise an empty mt-3 row is made #}
                            </div><div class="row mt-3">
                        {% endif %}
                    {% endfor %}
                </div>
            </div>  
        </div>
    {% elif module.module_type.number_of_components == 2 %}
        <div id="ModuleV0" class="d-flex flex-column w-75 p-3" style="gap: 50vh">
            <div class="container">
                <label class="CompPos"> Position 1 </label>
                <a href="{{url_for('parts.part_summary', part_table='component', part_sn=comp_dict[1].serial_number)}}">
                <div class="chip">
                    <div class="CompText">
                        {{comp_dict[1].serial_number}}
                    </div>
                </div>
                </a>
                {{render_comp_name(1, comp_dict[1].serial_number if 1 in comp_dict else '')}}              
            </div>
            <div class="col-sm">
                {{render_comp_name(0, comp_dict[0].serial_number if 0 in comp_dict else '')}}                
            </div>
        </div>
    {% else %}
        <div class="container OtherModuleType border border-dark rounded">
            <label class="container text-center">{{mod_sn}}</label>
            <ul class="custom-list">
            {% for comp in module.components %}
                <li>
                    <label>{{comp.component_pos}}</label>
                    {{comp.serial_number}}
                </li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}

    <!-- Add the subcomponents of the 4,3,2,1 positions, if any... -->
    <div class="container table-responsive">
        <table class="table table-sm">
            <thead>
            <tr>
                <th scope="col" style="font-size: 14px;">#</th>
                <th scope="col" style="font-size: 14px;">Component</th>
                <th scope="col" style="font-size: 14px;">Subcomponents</th>
            </tr>
            </thead>
            <tbody>
                {% for comp_pos, comp in comp_dict.items() %}
                    <tr>
                        <th scope="row" style="font-size: 14px;">{{comp_pos}}</th>
                        <td class="text-wrap" style="font-size: 14px;">{{comp.serial_number}}</td>
                        <td>
                            {% for subcomp in comp.components %}
                                <a style="font-size: 14px;" href="{{url_for('parts.part_summary', part_table='component', part_sn=subcomp.serial_number)}}">
                                    {{subcomp.serial_number}}
                                </a>
                                <br>
                                
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


{% endmacro %}