
.FormBox {
    margin: auto;
}

.FieldBox {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.FileBox {
    flex-grow: 1;
}

.SubmitBox {
    flex-grow: 0;
    padding-left: 5px;
}

#output_div {
    max-width: 90vw;
    padding-top: 15px;
    margin: auto;
}

.JSONandExplainBox {
    display: flex;
    flex-direction: column;
}

.JSONStandardBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.JSONStandardExample {
    background-color: rgba(238, 238, 238, 0.767);
    height: 38vh;
    display: flex;
    justify-content: center;
}

.JSONExplanation {
    flex-grow: 0.25;
    flex-basis: 50%;
}

.OnPageExample {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.carousel {
    position: relative;
 }           
 .carousel-control-prev , .carousel-control-next {
    position: absolute;
    top: 88%;
    transform: TranslateY(-50%);
 }
 .carousel-control-prev {
    right: auto;
    left: 10px;
 }
 .carousel-control-next {
    left: auto;
    right: 20px;
 }