
.MainForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 20px;
    width:fit-content;
    /* background-color: rgb(12, 180, 152); */
}

.InnerForms {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-evenly;
    /* background-color: rgb(37, 134, 94); */
    padding: 5px;
    max-width: fit-content;
    margin: auto;
    border-radius: 3px;
}

.InnerFormBox {
    display: flex;
    flex-direction: column;
    max-width: min-content;
    padding: 10px;
    gap: 8px;
    height: min-content;
    border: 2px solid #000000; 
    background-color: rgb(144, 218, 174);
    box-shadow: 0 0 2px rgb(204, 204, 204) 'inset'; 

}

.constr_type_group {
    flex-grow: 1;
}

.ConstrTypeBox {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;

}

.CompBox {
    display: flex;
    flex-direction: row;
    gap: 10px;
    /* width: 340px; */
    /* width: max-content; */
}

.TimeBox {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-end;
}

.SubmitBox {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
    justify-content: flex-end;
}