
#image-preview {
    margin-top: 10px;
    padding: 5px;
    border: thin solid #2f6a69;
    display: flex;
    flex-direction: row;
    gap: 5px;

    margin-top: 5px;
    margin-bottom: 5px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    min-height: 200px;
}

.image-container {
    position: relative;
    display: flex;
    justify-content: center;
}

.image-container:hover img {
    filter: brightness(25%);
    cursor: pointer;
}

.image-container .img-button{
    display: none;
}

.image-container:hover .img-button{
    display: block;
}

.single-image {
    margin-right: 5px;
}

.img-button {
    /* Thanks chat gpt */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
}

.verticalLine {
    border-left: thin solid #2f6a69;
    padding-left: 10px;
  }


.btn-close {
    border-width: thin;
    border-color: white;
}