

.ConstrTitleBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ConstrPartBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.PartTitleBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3px;
    margin: 3px;
}
.PartTitle {
    margin: 0;
}


.ConstrLink {
    color: rgb(47, 106, 105);
    text-decoration: none;
}